[2017-09-06 18:46] snicoll opened #6 "Consider renaming the starter to "okta-spring-boot-starter""
See also https://github.com/spring-projects/spring-boot/pull/10064#issuecomment-325742943

[2017-10-16 21:24] bdemers commented on #6
Sorry for the delay, this will get done, I just need to wrangle someone with the correct GH access

[2017-10-16 21:25] bdemers opened #15 "Add support to inject the java okta-sdk"

[2017-10-19 23:45] peavers opened #17 "Any indication on the next release?"
0.2.0 is looking very helpful for us moving forward - any idea when it will find it's way out to the wild?

[2017-10-23 01:56] sa06341 opened #19 "Can't run examples"
mvn spring-boot:run fails in all 3 examples:

20:43:35.854 [main] DEBUG org.springframework.boot.devtools.settings.DevToolsSettings - Excluded patterns for restar
t : [/spring-boot-starter/target/classes/, /spring-boot-autoconfigure/target/classes/, /spring-boot-starter-[\w-]+/,
 /spring-boot/target/classes/, /spring-boot-actuator/target/classes/, /spring-boot-devtools/target/classes/]
20:43:35.85

[2017-10-24 20:58] sa06341 commented on #19
Found workaround, closing this issue.

[2017-10-24 20:58] #19 closed

[2017-10-24 21:26] bdemers commented on #6
Renamed to `okta-spring-boot`

[2017-10-24 21:26] #6 closed

[2017-10-24 21:28] bdemers commented on #17
Not sure how I missed this one, but any day now.  We are code complete, just waiting on some formalities, grab the SNAPSHOT and try it out!

[2017-10-26 08:05] peavers commented on #17
Nice work on the new 0.2.0 release :)

Loving the work you're all doing, keep it up _b

[2017-10-26 08:05] #17 closed

[2017-10-26 16:04] bdemers commented on #17
Thanks!!

[2017-10-26 21:45] peavers opened #21 "Missing JwtClaimsSetVerifier class when adding okta-spring-boot-starter"
Using the following dependencies I'm getting a missing class error on `JwtClaimsSetVerifier`. If I remove `com.okta.spring:okta-spring-boot-starter` things compile as expected. Do I need to add any other dependencies?

[code]

[code]

[2017-10-29 20:41] chutch1122 commented on #21
I was having the same problem. I was able to resolve it by adding
`compile("org.springframework.security.oauth:spring-security-oauth2:2.2.0.RELEASE")`

[2017-10-29 21:09] peavers commented on #21
Sorry forgot about this ticket, yeah I solved it as soon as I added `:2.2.0.RELEASE` to my import... the 2.2.0 version is key to getting it working :)

[2017-10-29 21:09] #21 closed

[2017-11-03 23:12] mraible opened #22 "Can't startup app: java.lang.IllegalAccessError"
I've integrated `okta-spring-boot-starter` in my Spring Boot 1.5.8 project using the following steps:

1. Add dependency:

[code]

2. Upgrade Spring OAuth (this is not documented in the README):

[code]

3. Added `@EnableOAuthSso` to my main Spring Boot class:

[code]

When I start my app, I get the following error:

[code]

[2017-11-03 23:34] mraible commented on #22
I was able to workaround this problem by downgrading to `0.1.0`. However, I did find that I'm unable to use `@CrossOrigin` to enable cross-origin requests. Instead, I have to create a `CorsFilter`.

[code]

[2017-11-04 15:11] mraible opened #23 "IllegalArgumentException: issuer cannot be empty"
I'm working with @starbuxman to develop a reactive microservices stack for our Devoxx talk. Using `0.2.0` of this library throws the following error after I integrate things:

[code]

Steps to reproduce:

[code]

Modify `pom.xml` to add this library:

[code]

Add properties to `src/main/resources/application.properties`:

[code]

Run `./mvnw spring-boot:run`.

[2017-11-04 15:29] mraible commented on #23
This happens in`cloud-native-pwas/kotlin-basic/edge-service` as well. This is a regular Spring Boot 2.0.0.M5 app.

[2017-11-04 16:51] mraible opened #24 "Okta Spring Boot Starter doesn't work with spring-cloud-starter-gateway"
The Okta Spring Boot Starter (v0.1.0) works when adding to a Spring Boot Eureka server. However, when I try to use it with `spring-cloud-starter-gateway`, it fails. Once I include the dependency, the following message is printed on startup.

[code]

If I exclude `spring-boot-starter-web`, stuff blows up because there's no `javax/servlet/Filter` in the classpath.

[code]

If I add `javax.servlet-ap

[2017-11-04 19:53] peavers commented on #23
Just noting I faced the same issue when using with Spring Cloud Dalston.SR4; My only solution was to move the `okta.oauth2.issuer` config to the `bootstrap.yml` file rather than `application.yml` which did work, however isn't a proper solution.

[2017-11-06 14:51] ricard0javier commented on #23
got the same issue; moving the properties to the bootstrap file works for me as well. The problem is that they should be retrieved from an external Properties source as Consul or Vault.

[2017-11-06 19:37] mraible commented on #23
I tried create a `src/main/resources/bootstrap.yml` with the following:

[code]

However, I still get the same issue on startup. Am I creating the file in the correct location?

[code]

[2017-11-06 23:58] dpancs opened #25 "Issue with issuer URL in okta-spring-boot-starter v0.2.0"
I am trying to work with okta-spring-boot-starter in my spring boot v1.5.6 application
1. Update my pom file as follows:
[code]
2. Added bootstrap.properties under /resources as follows:
[code]

3. With the URL set as above, I get the following error:
[code]
4. I updated the issuer to be `okta.oauth2.issuer=https://{domain}.oktapreview.com` but in that case I am getting exception as follows
[code]

[2017-11-10 02:48] samgurtman opened #27 "@EnableOAuth2Sso fails with 401"
Given the configuration:

bootstrap.yml
[code]

Spring Boot Application
[code]

After logging in you get:

[code]

[2017-11-17 03:47] Prophet32j commented on #15
If I follow the README for the SDK, will it conflict with the starter at all?

[2017-11-17 14:45] bdemers commented on #15
Nope, you should be all set.  If you want to take an early look at adding support for the SDK in this project take a look at #16

[2017-11-17 15:33] Prophet32j commented on #15
I already did it last night. It was very simple to do.

With this PR, are you combining in a single yaml file, application.yml, or are you still trying to configure a separate yaml for okta? I combined all of mine into my application.yml since it makes it much simpler to manage, and I already had okta properties for this project.

[code]

[2017-11-17 22:21] bdemers commented on #15
The goal is to allow for the ability to use both files, where the application.yml would take priority over it.

The result is basically the same as your example, the `Client` object is available for injection.

Keep us posted!

[2017-11-18 00:16] westse opened #29 "OktaOAuthCodeFlowConfiguration should also work with OAuth2SsoCustomConfiguration"
`OktaOAuthCodeFlowConfiguration` currently conditional on `OAuth2SsoDefaultConfiguration`, but should also allow `OAuth2SsoCustomConfiguration`.

[2017-11-18 02:58] Prophet32j commented on #22
`0.1.0` isn't listed on Maven. How are we getting past this? I need to secure routes and API endpoints.

[2017-11-18 04:04] Prophet32j opened #30 "Okta Spring Boot Starter doesn't work with Spring Boot 2.0"
Related to #22
I'm getting this same IllegalAccessError on the Implicit flow configuration.
My app is a springboot starter `2.0.0.M3`.
[code]
[code]
[code]

My stack trace
[code]

Any of the developer guides that are on the Okta developer blogs are not up to date and accurate.

[2017-11-18 20:05] dogeared commented on #22
Do you have devtools? Try disabling that. There's a known issue right now
with 0.2.0 and devtools. It's something to do with not being able to create
the proxy object for an inner class.

==============================================
Micah Silverman, CSM <http://bit.ly/WikiScrum>
Phone: 631.606.8928
Co-Author: Mastering Enterprise Javabeans 3.0 <http://bit.ly/MasteringEJB3>
======================

[2017-11-18 20:53] Prophet32j commented on #22
I do have dev tools. I will try that.

Sent from my iPhone

[2017-11-18 21:11] Prophet32j commented on #22
Yeah that fixed not being able to start. Thanks.

[2017-11-20 14:16] mraible commented on #30
I'm getting a similar error with Spring Boot 2.0 M6.

I’ve added the following to my `pom.xml`:

[code]

And I’ve added properties to `application.properties`:

[code]

When I run `./mvnw spring-boot:run`, it fails to startup:

[code]

And the root cause seems to be:

[code]

[2017-11-20 14:34] bdemers commented on #30
I started looking into this last week, but figured we would need to wait until the newer OAuth bits were finalized.

From the [release notes](https://spring.io/blog/2017/11/01/spring-security-5-0-0-rc1-released) of Spring Security 5 RC1

There have been many updates and polish applied to put the finishing touches on the new OAuth 2.0 Login feature. We are very excited to be releasing this to the S

[2017-11-20 14:38] mraible commented on #30
I was able to workaround this problem by downgrading to 0.1.0:

[code]

And changing the property names in `application.properties` to be `oauth` instead of `oauth2`.

[code]

[2017-11-20 19:13] mraible commented on #22
I tried to reproduce this again today with a new project from start.spring.io and everything seems to work fine. I even added devtools back in and it still works.

[2017-11-20 19:13] #22 closed

[2017-11-20 19:29] Prophet32j commented on #22
what were your versions you used?

[2017-11-20 19:32] mraible commented on #22
@Prophet32j Spring Boot 1.5.8 and okta-spring-boot-starter 0.2.0. There does seem to be [an issue](https://github.com/okta/okta-spring-boot/issues/30) when using Spring Boot 2.0. I found that reverting to okta-spring-security-starter 0.1.0 solved this problem.

[2017-11-21 04:16] Prophet32j commented on #30
I chose to go Auth Code Flow since I'm building both the UI and the server. `@EnableOAuth2Sso` doesn't have the same issue for whatever reason? I reenabled dev tools and it runs just fine without downgrading anything.

[2017-11-21 15:28] bdemers commented on #30
Going to keep this open to track the issue with the Resource Server

[2017-11-22 15:10] mraible commented on #30
Doesn't look like ResourceServer is supported in Spring Security 5: https://spring.io/blog/2017/11/01/spring-security-5-0-0-rc1-released#what-s-up-next-with-oauth-2-0-support

[2017-11-22 23:47] Prophet32j opened #31 "Principal is null with Authorization Code Flow using example in README"
I have followed the code example in the README and successfully setup the Authorization Code Flow. The user is redirected to the login screen hosted by Okta if a secured route is accessed. Once the user is authenticated through Okta, the user is redirected back to my app successfully.

The problem is, when I try and grab the Principal as defined in the controller example, the Principal is always n

[2017-11-23 00:02] mraible commented on #31
I did the following tutorial earlier this week and it worked fine. Are you doing something different?

https://developer.okta.com/blog/2017/11/20/add-sso-spring-boot-15-min <https://developer.okta.com/blog/2017/11/20/add-sso-spring-boot-15-min>

[2017-11-23 02:50] Prophet32j commented on #31
@mraible did you do it with springboot 2.0?

I removed the okta springboot starter dependency and followed your tutorial here: https://developer.okta.com/blog/2017/03/21/spring-boot-oauth

That one worked. I got my first and last name printed to the console. I got the full user info from here just to make sure all of the scopes defined are used.
[code]
I get all of my profile and email info printe

[2017-11-27 14:10] mraible commented on #31
@Prophet32j I've been able to use redirect-to-Okta with Spring Boot 2.0 (M6) and the Okta Spring Boot Starter 0.2.0. However, to get a Resource Server working with Spring Boot 2.0, I had to revert to 0.1.0 of the Okta Spring Boot starter.

[2017-11-28 20:22] mraible commented on #30
FWIW, I tried upgrading my Spring Boot 2.0.0.M6 app to use the Spring Security 5.0.0.RELEASE today and startup still fails. To do this, I added a property for the release.

[code]

Then I confirmed it worked:

[code]

Error on startup:

[code]

[2017-11-28 21:05] bdemers commented on #30
Going to have to bump this one up for next week

[2017-11-28 21:18] mraible commented on #30
I tried a 2.0.0.BUILD-SNAPSHOT release of Spring Boot, and the error still happens there:

[code]

FWIW, if you look at the [Spring Boot milestones](https://github.com/spring-projects/spring-boot/milestones), it doesn't look like 2.0 will be released this year.

- 2.0.0.M7: November 28
- 2.0.0.RC1: January 25, 2018
- 2.0.0: February 20, 2018

[2017-11-28 21:39] bdemers commented on #27
Thanks for the report, we will take a look!

[2017-11-28 21:42] bdemers commented on #29
+1 we could possibly just use `@Conditional(EnableOAuth2SsoCondition.class)`

[2017-11-30 15:51] bsakweson commented on #31
@mraible I am in the process of integrating Okta to my resource server but rain into some issues. Can you please post a link of the code where you were about to use resource server?

My use case is a little different. My resource server will validate a bearer JWT token and extract claims from it, then use those claims to process request.

[2017-11-30 15:54] mraible commented on #31
@bsakweson The code is in a Spring Boot + Angular 5 blog post that will hopefully be published this week. The code in [Build a Secure Notes Application with Kotlin, TypeScript, and Okta ](https://developer.okta.com/blog/2017/09/19/build-a-secure-notes-application-with-kotlin-typescript-and-okta) is very similar.

[2017-11-30 16:38] bsakweson commented on #31
This code uses okta-spring-boot-starter version 0.1.0, correct?

From: Matt Raible <notifications@github.com>
Reply-To: okta/okta-spring-boot <reply@reply.github.com>
Date: Thursday, November 30, 2017 at 10:54 AM
To: okta/okta-spring-boot <okta-spring-boot@noreply.github.com>
Cc: bsakweson <bsakweson@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [okta/okta-spring-boot] Principal is

[2017-11-30 16:50] bsakweson commented on #31
I would prefer not to use a version that is not yet GA. Would this approach work with version 1.9.0-RELEASE?

[2017-11-30 16:53] mraible commented on #31
Yes, but I'm also updating it now and it works fine with 0.2.0. I'm unsure what project you're referring to with `1.9.0-RELEASE`.

[2017-11-30 16:57] bsakweson commented on #31
My apologies, I meant the spring-boot-starter version as shown below.
[code]

[2017-11-30 17:00] mraible commented on #31
Yes, this starter works with Spring Boot 1.5.9.

[2017-11-30 17:12] bsakweson commented on #31
I must be missing something because I am getting a build error. Here is the error I am getting.

[code]

[2017-11-30 17:13] mraible commented on #31
Try removing devtools as a dependency.

[2017-11-30 17:14] bsakweson commented on #31
Yeah just that at this https://github.com/okta/okta-spring-boot/issues/22 Let me try that and see.

[2017-11-30 17:15] bsakweson commented on #31
That works but it takes away the benefit of devtools. Any workaround?

[2017-11-30 17:16] mraible commented on #31
The workaround is to use `okta-spring-security-starter` version `0.1.0`, which provides the same functionality. It's just a previous version.

[2017-11-30 17:22] bsakweson commented on #31
Weird maven is unable to bring this version down to my local repo.

[code]

[2017-11-30 17:23] mraible commented on #31
Right, that's because we changed the name between releases. Use `okta-spring-security-starter` instead of `okta-spring-boot-starter`.

[2017-11-30 17:31] bsakweson commented on #31
I want to add here for anyone who may run into this in the future that reverting to use `okta-spring-security-starter` version `0.1.0` comes with some additional changes. Properties name changes from `okta.oauth2.issuer` to `okta.oauth.issuer` etc.. This may be specific to my setup but if though. Just and FYI.

[2017-11-30 17:37] mraible commented on #31
@bsakweson This is correct: we changed the name of the starter and the properties between 0.1.0 and 0.2.0.

[2017-11-30 18:29] bsakweson commented on #31
Ok I thought I was out of the woods before going to lunch but it looks like there is still something missing after reverting to version `0.1.0` here is the error I am getting now:

[code]

[2017-12-05 22:34] Prophet32j commented on #31
Debugging inside of Spring, I see that calls are made to the access token URI endpoint, and I can see the access token that's being returned. How do I get that access token? Am I doing something wrong? There are no cookies or any injected tokens passed to my browser.

If I can grab this token and send it myself, then I can manually add the Authorization header in my React app.

[2017-12-05 22:44] bdemers commented on #31
You wouldn't, that is the access token that your spring app is using.  If you have a front end app that is driving the flow, you may want to look at the `@EnableResourceServer` annotation and the OAuth Implicit flow.

[2017-12-05 22:46] bsakweson commented on #31
It is all good guys. It turns out I was expecting to see the complete user
profile after login but that seem not be to the case. I am making a second
call with access token to get user profile.

On Tue, Dec 5, 2017 at 5:34 PM, Josh Hardy <notifications@github.com> wrote:

[2017-12-05 23:47] Prophet32j commented on #31
The implicit flow doesn't let me lock down UI routes and do data injection, right? If a user visits a route before the SPA is loaded, I want to inject data into the UI specific for that route and that user. In order to do that I need to know the user. with an implicit flow I don't know the requesters identity until after the SPA is loaded, right? Or am I missing something?

Sent from my iPhone

[2017-12-06 02:07] Prophet32j commented on #31
I figured it out why I was having a problem. Spring Security was correctly creating the Http Session like it does and sending the JESSSIONID cookie. My issue was that I was getting a 403 Not Authorized, but didn't know why.
Turns out it had to do with CSRF tokens. I was not disabling CSRF tokens, nor was I including a CSRF token in my requests.

[2017-12-06 02:24] bdemers commented on #31
I’m not following 100%, you can inject data into your resource for implicit flows.  You can also make your UI not make remote calls until you have a user context.  I only suggested it though because it sounded like you were creating a SPA.

-Brian

[2017-12-06 04:17] Prophet32j commented on #31
I serve my SPA after authentication has happened.
1. user visits login and logs in
2. User is authenticated and is redirected to secured route
3. User principal is grabbed from session information and user profile is loaded from Okta
3a. If there’s additional database data that is required for this route, load this now
4. User profile is injected into Thymeleaf template along with any additional d

[2017-12-15 09:41] martypitt commented on #30
Unfortunately, spring-security-oauth2-boot + spring-boot-2 M7 + okta-spring-boot 0.2.0 still doesn't work:

[code]

...which is an odd error...

[2017-12-15 12:31] mraible commented on #30
If you add [this project](https://github.com/spring-projects/spring-security-oauth2-boot) to your dependencies, it might work.

[2017-12-22 18:13] #15 closed

[2018-01-02 16:43] bdemers commented on #25
Fixed in the next release: 0.3.0

[2018-01-02 16:43] #25 closed

[2018-01-02 17:11] bdemers commented on #24
@mraible, i'm not seeing `spring-cloud-starter-gateway` in Maven Central, do you still have that pom you used when opening this issue? I think the fix _should_ be just adding a conditional, I wanted to test it out before the next release.

[2018-01-08 09:40] haichauofficience commented on #23
@mraible I'm facing the same issue like this. Did you solve your problem?

[2018-01-08 16:00] bdemers commented on #23
@haichauofficience was fixed in the 0.3.0 release (just promoted, so it could take a couple hours to show up on Maven Central)

[2018-01-09 00:28] mraible commented on #24
If you use start.spring.io and select 2.0.0 M7, then select "gateway", you'll see its coordinates in the pom:

[code]

[2018-01-09 03:49] haichauofficience commented on #23
@bdemers Ok, thank you very much.

[2018-01-10 02:42] haichauofficience commented on #23
@bdemers I still don't see the new version on Maven Central so far. Could you please check it out?

[2018-01-10 15:27] bdemers commented on #23
How about now? http://mavencentral.sonatype.com/#artifactdetails%7Ccom.okta.spring%7Cokta-spring-boot-starter%7C0.3.0%7Cjar

[2018-01-12 12:56] fschmager opened #33 "Use "okta.oauth2.issuer" consistently"
The property `okta.oauth2.issuer` is expected to be different in various parts of okta spring boot.

During application startup the issuer must not end in `/oauth2/default` in order to be able to discover the OIDC endpoints. The discovery endpoint is `https://${okta.hostname}/.well-known/openid-configuration`.

This code is executed during startup:
`com.okta.spring.oauth.discovery.DiscoveryPropert

[2018-01-12 14:05] fschmager commented on #33
Nevermind. I missed the step about creating an Authorization Server. I used the app's issuer instead of the auth server's.
Maybe there is room for improving the documentation?

[2018-01-12 16:58] fschmager commented on #33
I followed the [README.md](https://github.com/okta/okta-spring-boot/blob/master/README.md) which told me 1) to have a dev account.
I've created a developer account quite a while ago (shortly before Stormpath had been acquired). Maybe that had something to do with me not having a "default" Auth Server. Once I created one and put the Auth Server ID into the issuer things started to work.

Maybe it s

[2018-01-12 20:10] bdemers commented on #33
@fschmager great feedback! That should be an easy note to add!

[2018-01-12 20:10] #33 closed

[2018-01-23 22:10] bdemers opened #35 "Fail or Warn use when attempting to use an Okta Org issuer"
When using the Okta Org issuer i.e. `https://dev-123456.oktapreview.com/` local validation of access tokens is NOT possible, but this is the default functionality.

We should either fail fast (unless `okta.oauth2.localTokenValidation=false` is set)
Or WARN the user and disable local validation.

[2018-01-23 22:15] bdemers opened #36 "Okta Base/Org URL is NOT resolved from issuer property when using the Okta Org Issuer"
When using the Okta Org issuer `https://dev-123456.oktapreview.com/` the base url (used when the SDK is available) is not resolved.

This is because the current logic just strips `/oauth2/*` from the issuer and uses that.
We may want to set the base URL to the issuer,  if issuer URL does not contain `/oauth2/*`.

[2018-01-29 21:14] bdemers commented on #27
This should work with v0.3.0+.  I found a couple issues when using cloud-config.  I was able to create an example using cloud-config, zuul, and Okta starter.

Zuul + Spring OAuth just passes the access token to the origin server.

@samgurtman I'm assuming this was the issue and closing. Please reopen if you are still seeing this issue.

[2018-01-29 21:14] #27 closed

[2018-02-04 06:56] DanielFaria commented on #30
+1

[2018-02-06 16:43] mraible opened #37 "IntelliJ IDEA says clientId should be client-id and clientSecret should be client-secret"
The bug is that if you use these values, no `clientId` is sent. If you use `clientId` and `clientSecret` it works. Screenshot of popup:

![image](https://user-images.githubusercontent.com/17892/35871729-38e2b70c-0b22-11e8-91e8-94ddf195e984.png)

[2018-02-06 17:18] mraible opened #38 "Replacing Spring Security OAuth with this starter doesn't work with microservices + OAuth"
I created a PR to demonstrate this issue, with steps to reproduce. You can see the steps to reproduce and the changes made at https://github.com/oktadeveloper/spring-boot-microservices-example/pull/9.

[2018-02-09 12:14] lamba92 opened #39 "RelaxedPropertyResolver removed from Spring Boot 2.x"
In [OktaSdkConfig.java class ](https://github.com/okta/okta-spring-boot/blob/master/sdk/src/main/java/com/okta/spring/sdk/OktaSdkConfig.java) you use RelaxedPropertyResolver, but it [has been removed from Spring Boot 2.x ](https://github.com/spring-projects/spring-boot/issues/9321)and won't be taken back. Please update the code.

[2018-02-09 15:44] bdemers commented on #39
Will do Thanks!

[2018-02-09 17:07] bdemers commented on #39
I don't have an estimate at the moment.  Ideally I'd like to support boot 1 and 2 on the same branch (which means supporting Spring Security 4 and 5 at the same time).  This might be possible, but there are a few things we need to look into

[2018-02-09 17:26] Lamba92 commented on #39
Well, then what do you recommend me to do right now, downgrade to 1.x?

[2018-02-09 17:27] Lamba92 commented on #39
Well, then what do you recommend me to do right now, downgrade to Spring 1.x?

[2018-02-09 18:02] bdemers commented on #39
Yeah downgrade.  You could also use Spring Boot 2.x /w Spring Sec 5 directly (if you need to be on boot 2.x)

[2018-02-23 18:47] mraible opened #40 "Starter v0.3.0 doesn't work with Spring Boot + DevTools"
[code]

Commenting out `spring-boot-devtools` in pom.xml fixes this issue.

[2018-02-25 02:39] FIL1994 opened #41 "Can't run example"
I get this error when I try to use this:
[code]

[2018-02-25 19:12] mraible commented on #41
You should be able to fix this by adding spring-security-oauth2@2.2.0 (or above) as a dependency to your project.

[code]

Spring Boot 2.x has this upgraded version by default, Spring Boot 1.x does not.

[2018-02-26 23:49] FIL1994 commented on #41
@mraible thanks, that worked.

[2018-02-26 23:49] #41 closed

[2018-03-05 12:56] mraible commented on #30
With Spring Boot 2.0.0 and Okta's Spring Boot Starter v.0.3.0, the following error happens on startup:

[code]

[2018-03-05 14:54] mraible opened #42 "Provide steps to run mvn install without failures"
Since all the integration tests seem to fail, I'm guessing there's configuration that needs to happen before you can run `mvn install` w/o issues.

[2018-03-05 15:09] bdemers commented on #42
+1, I updated the `okta/okta-sdk-java` wiki recently with instructions, but forgot to update this one too.

[2018-03-23 13:53] bdemers commented on #24
This should already be in v0.3.0, it was an ordering problem with cloud-conf IIRC.

[2018-03-23 13:53] #24 closed

[2018-04-11 15:52] paulux84 commented on #30
Same problem with version 0.4.0

[2018-04-17 20:16] nbarbettini opened #51 "Provide example of injecting SDK"
The readme says:

Can we add an example for n00bs like me who don't know how? 😄

[2018-04-17 20:31] mraible commented on #51
In case you're looking for something quick: https://github.com/oktadeveloper/okta-ionic-crypto-java-sdk-example/blob/master/holdings-api/src/main/java/com/okta/developer/holdingsapi/HoldingsController.java#L24

[2018-04-17 21:16] bdemers commented on #51
@mraible's example is good, but that doesn't translate well to doc (as the using the injected value is identical to using it as a POJO)

Maybe we need to add more description around this? Ideas?

[2018-04-18 07:38] hhhamza opened #52 "erreur"
![image](https://user-images.githubusercontent.com/36659046/38917877-4e394312-42ec-11e8-8a54-51a8e41d187b.png)

[2018-04-18 13:42] bdemers commented on #52
If you remove the dev-tools dependency does it work?

[2018-04-23 10:20] tyokoi-folio opened #53 "Returned redirect_uri includes http URL"
I'm now trying to implement oauth with okta using okta-spring-boot v0.3.0 with the following properties.

[code]

However, when I accessed to the URL of my application, I got the redirected URL including weird redirect_uri. It should be https://{domain}, but I got http://{domain} and encountered 400 error...

[code]

Any ideas? If you can give me any advice, it's very helpful for me. I'm completel

[2018-04-23 14:42] mraible commented on #53
The redirect URI you send to Okta is the one that it redirects back to after you've logged in. Are you sure you're sending an https URL? If so, then something is changing that to http. Okta doesn't make that change.

[2018-04-23 16:27] paulux84 opened #54 "okta-spring-boot + okta-spring-sdk"
Hi,
i would configure "roles-claim: groups" and "principal-claim: email" as OAuth2 properties and to do so i've added okta-spring-sdk as dependency in my maven project.
The problem with this dependency returned OAuth2Athentication.userAuthetication object(UsernamePasswordAuthenticationToken) contains different "details" element. Inside "Token Preview"(from okta dashboard) i get all informations, b

[2018-04-23 17:51] paulux84 commented on #54
@bdemers i need to use `roles-claim: groups` and `principal-claim: email` and i can't set this info without `okta-spring-sdk`.
The difference is the element returned...without 'okta-spring-sdk' the `(LinkedHashMap)details` contains all userInfo like for example default okta field "locale", but without i get only `"ver", "jti",  "iss",  "aud", "iat", "exp", "cid",  "uid","scp","sub"` and some other

[2018-04-23 17:56] bdemers commented on #54
@paulux84
Take a look at our samples: https://github.com/okta/samples-java-spring, these examples do not use the SDK, but do use the starter.  The `-login` examples will show you a table of the available key/values.  Does this help?

[2018-04-23 18:09] paulux84 commented on #54
@bdemers no...i already do this.
My main problem is to create a role based access using okta group so i can use for example `@Secured("admin")` where 'admin' is an okta user-group. The only way that i know to do so is to use the `role-claims` spring configuration so i need `okta-spring-sdk`.
There is another way to map `OAuth2Athentication.authorities` to okta grops?

For `principal-claim` configu

[2018-04-23 18:54] paulux84 commented on #54
@bdemers okta-spring-boot-starter

[2018-04-23 19:04] paulux84 commented on #54
Sure...
P.s. may the issue depend on Spring Boot 2 usage?

Il lun 23 apr 2018, 20:59 Brian Demers <notifications@github.com> ha
scritto:

[2018-04-23 20:09] bdemers commented on #54
Likely, see: #30

The samples are still a great starting point though, please re-open this issue if you are still running into issues

[2018-04-23 20:09] #54 closed

[2018-04-23 21:10] paulux84 commented on #54
Sorry...the sense of the problem was afflicted by a wrong translation...i'll try to explain better:

I use the following dependencies
[code]
And all works great and the returned `OAuth2Athentication.userAuthetication.details` contains all userInfo.
But if i add `okta-spring-boot-starter` the returned `OAuth2Athentication.userAuthetication.details` not contains userInfo, but "ver", "jti", "iss", "a

[2018-04-23 21:15] paulux84 opened #55 "okta-spring-boot-starter + spring-security-oauth2-autoconfigure (linked to #54)"
Hi,
in my project i use the following dependencies

       <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-security</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.security.oauth.boot</groupId>
            <artifactId>spring-security-oauth2-autoconfigure</artifactId>
        </dependen

[2018-04-23 21:16] paulux84 commented on #54
i've reopened the issue here #55

[2018-04-23 21:33] bdemers commented on #55
I think I understand your question.

By default the our plugin does client side validation, and you get the access token JWT's claims for the user detail (locally validating the JWT and saving a remote API call). If you set the property `okta.oauth2.localTokenValidation=false` then a remote call will be made to the user info endpoint.

[2018-04-23 21:42] paulux84 commented on #55
Ok, but in this way i do 2 remote call every time while the "userInfo" that i want are mapped inside token using claims

[2018-04-23 21:45] paulux84 commented on #55
Ok, but in this way i do 2 remote call every time while the "userInfo" that i want are mapped inside token using claims

[2018-04-23 23:05] bdemers opened #56 "Setting `okta.oauth2.localTokenValidation` causes the `groups` returned in user details to NOT be parsed into Spring Authorities"
Processing of groups to authorities should NOT be tied to `localTokenValidation`

[2018-04-23 23:07] bdemers commented on #55
Yes, at the moment, the parsing of the groups claim only works when validating tokens locally.  I've opened #56 to track this.  Until this is implemented you would need to handle this logic directly in your code.

[2018-04-23 23:07] #55 closed

[2018-04-24 02:13] tyokoi-folio commented on #53
@mraible Thanks for your response. As I wrote above,  I configured `okta.oauth2.redirect_uri=https://{domain}/authorization-code/callback` in the property file.

When I access to `https://{domain}/authorization-code/callback`, then it returns the location header bellow.

[code]

As you mentioned, I also believe Okta does not do anything. I'm a newbie of okta-spring-boot.

[code]

If you can check

[2018-04-26 15:24] bdemers opened #57 "Add doc example for setting HTTP proxy config"
This _should_ be the standard `http(s).proxy*` properties, but a quick manual test and a doc update would be great.

[2018-05-09 17:18] JavaToGo commented on #30
If you look at file:
<b>OktaPropertiesMappingEnvironmentPostProcessor.java</b>
Line 108: return loader.load(resource.getFilename(), resource, null);

Spring Boot 2.x does not have a 3rd parameter in the load() method.
refer: https://docs.spring.io/autorepo/docs/spring-boot/2.0.1.RELEASE/api/org/springframework/boot/env/YamlPropertySourceLoader.html

[2018-05-17 10:55] tamthing commented on #30
Same issue here. Using okta-spring-boot-starter:0.4.1. Is this being looked into?

[2018-05-17 11:28] mraible commented on #30
Yes, it’s fixed on the master branch. We hope to do a release this week.

[2018-05-21 13:51] ijer-web commented on #36
Me too

[2018-05-21 13:53] ijer-web commented on #23
ERROR TypeError: Cannot read property 'issuer' of undefined.
Absolutely the same problem.

[2018-05-21 16:15] bdemers commented on #23
@ijer-web which version?

[2018-05-22 11:34] ijer-web commented on #23
@bdemers angular 6

[2018-05-22 13:52] bdemers commented on #23
@ijer-web sorry, I meant which version of ‘Okta-spring-boot-starter’

[2018-05-22 16:32] mrasante commented on #30
@mraible what's the proposed workaround for now until you do the release. Stalled on this issue.

[2018-05-22 16:36] mrasante commented on #30
Found the solution. Upgrade to version okta-spring-boot-starter:0.5.0

[2018-05-22 18:56] JavaToGo commented on #30
Tried that. Spring Boot 2.0.2.RELEASE and okta-spring-boot-starter 0.5.0. I am now getting the following error(s) on server startup and application fails to start.

java.lang.IllegalStateException: Error processing condition on com.okta.spring.oauth.OktaTokenServicesConfig$LocalTokenValidationConfig.authoritiesExtractor
	at org.springframework.boot.autoconfigure.condition.SpringBootCondition.match

[2018-05-22 18:59] mraible commented on #30
@JavaToGo Does it work if you add the following dependency?

[code]

[2018-05-22 21:01] JavaToGo commented on #30
ok, i added spring-security-oauth2-autoconfigure, but now i am running into a familiar error from before:
16:59:09.991 [restartedMain] ERROR org.springframework.boot.SpringApplication - Application run failed
java.lang.NoSuchMethodError: org.springframework.boot.env.YamlPropertySourceLoader.load(Ljava/lang/String;Lorg/springframework/core/io/Resource;Ljava/lang/String;)Lorg/springframework/core/en

[2018-05-22 21:16] JavaToGo commented on #30
My bad on the previous post. I had switched back to okta 0.2.0 version. Changed that back to 0.5.0 but still not out of the woods here.

2018-05-22 17:14:39.984 ERROR 14316 --- [  restartedMain] o.s.boot.SpringApplication               : Application run failed

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'org.springframework.security.oauth2.confi

[2018-05-23 02:18] JavaToGo commented on #30
@mraible @mrasante I was able to get around this issue by adding following to application.properties:
okta.oauth2.localTokenValidation=false

[2018-05-23 08:40] ijer-web commented on #23
"@okta/okta-angular": "^1.0.1",
"@okta/okta-auth-js": "^1.17.0",
"@okta/okta-signin-widget": "^2.8.0",

I used official manual "Angular Update Guide" https://update.angular.io/
After attempts and investigations i found that
Current Okta and Okta's modules don't work with angular 6.
Firstly, commangs "ng update @angular/core" and ng update @angular/cli
leaded to note ` "@okta/okta-angular": "^1.0.1

[2018-05-23 12:41] mraible commented on #23
I’ve been able to get the Okta Sign-In Widget working with Angular 6 without any issues. See https://developer.okta.com/blog/2018/05/09/upgrade-to-angular-6 for more information.

[2018-05-29 12:09] miguefl opened #63 "More configuration like public endpoints, etc."
Hi, I couldn't find any information about extra configuration of this library.

I have a ReactJS web application and some java microservices that expose an API.

### Could I implement public endpoints?

#### Example:

**Public (no JWT needed)**
GET:`/resource1`
GET: `/resource1/{id}`

**Private (JWT needed)**
POST: `/resource1`
DELETE, PATCH, PUT: `/resource1/{id}`
GET, POST:`/resource2`
GET, DELE

[2018-05-29 13:40] bdemers commented on #63
Hey @miguefl !

One of our samples works similar to this.  The root `/` resource is unprotected, but all others are:

https://github.com/okta/samples-java-spring/blob/master/okta-hosted-login/src/main/java/com/okta/spring/example/CodeFlowExampleApplication.java#L59

Does that help?

[2018-05-29 13:56] miguefl commented on #63
Maybe, but I don't have a SSO web application. Sorry, I'm going to edit the opening post.
I have a React application, that uses okta js api. And I have some microservices to differents purposes.

But, maybe I can do it in the same way.

Thanks.

[2018-05-29 15:11] bdemers commented on #63
A resource server would work the same way.
Take a look at the Spring Security documentation for more info: https://docs.spring.io/spring-security/site/docs/5.0.5.RELEASE/reference/htmlsingle/#jc-authorize-requests

[2018-05-29 15:11] #63 closed

[2018-05-31 16:58] bdemers commented on #56
@paulux84 I cannot reproduce this locally, any chance you have an example that will help?

[2018-05-31 18:32] bdemers commented on #53
@tyokoi-folio how did you make out?

Please reopen this issue if needed

[2018-05-31 18:32] #53 closed

[2018-05-31 18:33] bdemers commented on #52
@hhhamza feel free to reopen this issue if you were not able to find a soluation

[2018-05-31 18:33] #52 closed

[2018-05-31 20:12] bdemers commented on #42
@mraible an `mvn install` _should_ work now.  All of the OAuth interactions have been mocked out.

[2018-05-31 20:12] #42 closed

[2018-05-31 20:13] bdemers commented on #39
Fixed in #58

[2018-05-31 20:13] #39 closed

[2018-05-31 20:15] bdemers commented on #23
The Okta starter should be working with cloud config now as of 0.3.0+

[2018-05-31 20:15] #23 closed

[2018-05-31 20:59] bdemers commented on #29
doh, `EnableOAuth2SsoCondition` is package private.

@westse do you have an example I can use to write an IT around?

[2018-05-31 21:02] bdemers commented on #30
@JavaToGo do you have an example we can try to reproduce this with?

[2018-05-31 21:06] bdemers commented on #38
This should have been resolved with #24. There was an issue on how properties were handled with cloud-config

[2018-05-31 21:06] #38 closed

[2018-05-31 21:11] bdemers commented on #31
@Prophet32j how did you make out?

[2018-05-31 21:42] Prophet32j commented on #31
Brian,
I haven’t gone back and addressed any additional with flows since I removed
the Okta starter and rolled with a basic spring OAuth spring security setup.

I can tell you that I tried to upgrade my spring dependencies and that
broke everything so I had to roll it back and figure it out later this
summer when I’m ready to ship my app.

Currently I’m still requiring auth before the UI is served

[2018-05-31 22:40] paulux84 commented on #56
I must create one, but...before that I would try what happens with new okta
release...

Il gio 31 mag 2018, 18:58 Brian Demers <notifications@github.com> ha
scritto:

[2018-06-01 13:14] bdemers commented on #31
Sounds like you have an Auth Code Flow app? and your SPA uses a cookie to reference the session?

[2018-06-01 13:34] Prophet32j commented on #31
Yes that is exactly what I’m doing. I’ll have to handle the session with
Redis when I get more than one instance on my springboot app, but that’s
not hard.

Eventually I want to transition to JWT.

On Fri, Jun 1, 2018 at 8:14 AM Brian Demers <notifications@github.com>
wrote:

[2018-06-08 20:22] rodoabad opened #64 "Invalid Token Guidance"
Hey guys,

I followed https://developer.okta.com/blog/2017/12/06/bootiful-development-with-spring-boot-and-react for setting up a react + spring boot simple application.

I've checked both the client id and issuer on both React and Spring Boot configurations and they are the same. However, I am still getting an invalid token.

[2018-06-08 20:28] mraible commented on #64
Can you please post the error you're seeing? You can also compare your app with the completed example: https://github.com/oktadeveloper/spring-boot-react-example/tree/okta

[2018-06-08 20:31] rodoabad commented on #64
@mraible I'm specifically getting an error object with status 401.

[code]

[2018-06-08 20:36] rodoabad commented on #64
@mraible I also tested the Spring Boot application by authenticating to my React App, copying the auth token and using Postman to make the call. Both have returned an invalid token. Do you have any suggestions on how do I proceed to debug this?

[2018-06-08 20:42] bdemers commented on #64
@rodoabad is your access token a valid JWT?

[2018-06-08 20:44] rodoabad commented on #64
@bdemers is there a way to verify this? The token is generated when a component is wrapped with `withAuth` and you can call then `await` whatever `getAccesstoken` returns.

Here's what I am using to generate the token.

[code]

[2018-06-08 20:46] rodoabad commented on #64
@bdemers just verified the token generated at https://jwt.io/ and it is valid or at least looks valid (no errors).

[2018-06-08 20:49] rodoabad commented on #64
@bdemers I'm verifying in https://jwt.io/, I can read the `header` and `payload` both of which seem to be correct but I get "invalid signature".

[2018-06-08 21:15] mraible commented on #64
What's your config for React look like? Here's what mine looks like:

[code]

[2018-06-09 12:36] bdemers commented on #64
@rodoabad, the “invalid certificate” issue is expected with most online JWT validation sites. As they don’t have a key to validate them. (This is different at runtime for your application)

[2018-06-11 14:12] rodoabad commented on #64
@mraible yeah it looks like that sans the sub domain and `default` since we have our own hash to use.

[2018-06-11 16:03] mraible opened #65 "baseUrl argument cannot be null with Spring Boot 2.0"
I upgraded [okta-ionic-crypto-java-sdk-example](https://github.com/oktadeveloper/okta-ionic-crypto-java-sdk-example) to use Spring Boot 2.0.2 and 0.5.0 of this starter and okta-spring-sdk. After making this change, I get the following error on startup:

[code]

Adding the following property fixes this problem.

[code]

[2018-06-11 16:11] mraible opened #66 "Spring Boot 2.0: OAuth2Authentication.userAuthentication.details has different info with Okta Starter"
If I use the Okta Spring Boot Starter (v0.5.0), the `Principal` is of type `OAuth2Authentication`, but it does not contain any user information in `userAuthentication.getDetails()`. It contains access token information instead.

<img width="2032" alt="okta-starter-details" src="https://user-images.githubusercontent.com/17892/41243502-8a1f590a-6d5f-11e8-9552-4196b04963c7.png">

If I change my app t

[2018-06-12 20:24] rodoabad commented on #64
Anyone else got any other input on my problem?

[2018-06-12 20:30] mraible commented on #64
What is your issuer set to?

[2018-06-12 20:44] rodoabad commented on #64
@mraible hey man.

So my issuer is set to `https://MY_ORG.oktapreview.com/oauth2/AUTH_SERVER`.

okta.oauth2.issuer=https://MY_ORG.oktapreview.com/oauth2/AUTH_SERVER
okta.oauth2.clientId=CLIENT_D
okta.oauth2.audience=api://AUTH_SERVER

[2018-06-12 20:49] rodoabad commented on #64
Adding more context since I did not mention it before, I am able to login to Okta in React. It's only when I'm making an API call.

[2018-06-12 20:52] rodoabad commented on #64
@mraible I've also sent an email to support. About my problem (Was thinking maybe we could do some screen share when you have the time).

[2018-06-12 21:54] rodoabad commented on #64
I was able to move forward by specifying a version `<version>0.5.0</version>`, the example page does not specify a version to use.

We also had to set the version for oauth2.

[code]

The problem before was that IntelliJ was compiling even though it was clear that there was a missing version for `okta-spring-boot-starter`. `mvn clean verify` showed that we had an error and it's not supposed to com

[2018-06-13 14:31] bdemers commented on #64
Can you paste in a decoded access_token (you can anonymize the id's and email addresses)
You can use a site like: https://www.jsonwebtoken.io/

[2018-06-13 16:51] #65 closed

[2018-06-18 15:07] bdemers commented on #40
Looks like this is no longer an issue with Spring Boot 2.x

[2018-06-22 12:13] MHarisMumtaz opened #71 "Okta spring boot starter not working when using JPA dependency on spring boot"
I have below okta dependencies:
[code]
it was working when there is no jpa dependency but when I add below Jpa dependency it stopped working and gives an error

[code]

[2018-06-22 13:43] bdemers commented on #71
@MHarisMumtaz does just adding the dependency cause the issue? no config needed?
We will take a look!

[2018-06-25 16:43] bdemers commented on #30
Closing to better represent that 0.5.0 supports Spring Boot 2.
@JavaToGo please open another issue if you are still hitting this issue

[2018-06-25 16:43] #30 closed

[2018-06-26 13:42] #29 closed

[2018-07-11 23:52] smile18 opened #76 "always getting null for java.security.Principal"
I am trying to get user details from accessToken as explained in [here](https://github.com/okta/okta-spring-boot#supporting-client-side-applications---oauth-implicit-flow). But I am always getting null .

Here are my dependencies ...

        <dependency>
            <groupId>com.okta.spring</groupId>
            <artifactId>okta-spring-boot-starter</artifactId>
            <version>0.6.0</version

[2018-07-13 21:39] smile18 commented on #76
the sample worked perfectly. Thanks.

[2018-07-16 13:53] bdemers commented on #76
@smile18
Thanks for letting us know!  I've reopened the issue.  We'll go through the readme again and make sure the initial doc is easier to follow (and probably link to the other example)

Thanks again!

[2018-07-17 17:27] luisfguzman opened #77 "Error processing condition on com.okta.spring.oauth.OktaTokenServicesConfig$LocalTokenValidationConfig.authoritiesExtractor"
Hello,

Getting an exception when trying to start my spring boot app after adding okta-spring-boot-starter to my dependencies. I'm using spring boot v2.0.3

Here are all my dependencies in the pom.xml

[code]

**The exception is:**

[code]

I have added the properties to my project also:

okta.oauth2.issuer=...
okta.oauth2.clientId=...

If is a problem of incompatible versions between dependencies

[2018-07-17 17:42] mraible commented on #77
Remove these dependencies:

[code]

And add this one:

[code]

If that works, we should add the autoconfigure dependency to our documentation.

[2018-07-17 20:23] mraible commented on #40
It is an issue with Spring Boot 2.0.3. Here's the error I get:

[code]

My pom.xml:

[code]

[2018-07-18 01:39] luisfguzman commented on #77
Hi Matt,

That worked just fine! Thanks for the help.

By the way I'm following your tutorial "Bootiful Development with Spring Boot and React". Where I can find the latest version of the article?

Thanks Again!

[2018-07-18 01:52] mraible commented on #77
I updated the version on our blog last week. See the changelog at the bottom for more info on what changed.

https://developer.okta.com/blog/2017/12/06/bootiful-development-with-spring-boot-and-react

[2018-07-18 14:53] mraible commented on #40
I'll create a repo to demonstrate the behavior later today.

[2018-07-18 17:45] mraible commented on #40
It happens on startup. If I remove the devtools dependency, it starts up OK. However, I can't log in. The error is below.

Here's what I changed to switch from the Spring Security to the Okta Spring Boot starter:

https://github.com/oktadeveloper/okta-spring-boot-react-crud-example/compare/okta-starter

To reproduce:

[code]

This will fail to startup. Comment out devtools and restart to see the e

[2018-07-23 14:00] #51 closed

[2018-07-23 14:01] #40 closed

[2018-07-29 20:22] handyccc commented on #71
I noticed you can work around this by setting token validation to server side in the application.properties file:

okta.oauth2.localTokenValidation=false

[2018-07-30 13:14] bdemers commented on #71
@handyccc @MHarisMumtaz do you both have dev-tools on the classpath ?
(we just fixed an issue where when both dev-tools and a jpa lib were on the classpath it would cause an app to fail to start)

[2018-07-30 19:04] handyccc commented on #71
Yes, i did

[2018-08-08 15:48] mkrichevsky opened #80 "Is there a way to override uri?"
Hi

I'm facing an issue, that my company's issuer url is not the same for all endpoints.
For example, configuration is located at `https://{company}.oktapreview.com/.well-known/openid-configuration`, but keys are located at `https://{company}.oktapreview.com/oauth2/v1/keys`.
However, the same issuer url is used to do all the requests. Is there a way to override this behaviour? I tried creating pri

[2018-08-08 17:00] mkrichevsky commented on #80
I guess I'll just use spring security with custom filter that will be validating requests? (I need only validation)

[2018-08-08 17:51] bdemers commented on #80
@mkrichevsky give it a shot, and keep us posted! Feel free to reopen this if needed

[2018-08-08 17:51] #80 closed

[2018-08-15 12:19] gtnarg opened #81 "Spring Boot JavaFx Client"
My client application is a spring boot javafx app connecting to a spring boot server application.  Do you have an examples of integration of okta on the client side where being redirected to a web page wouldn't be part of the flow?

A redirect to a webpage embedded within a javafx webview could also work.

[2018-08-15 13:19] nbarbettini commented on #81
Can you describe a little more about what your client app and server do? Is the client making API calls to the server? What is the reason for avoiding the redirect?

[2018-08-20 23:50] bdemers commented on #80
Thanks for following up !

[2018-08-21 10:37] mkrichevsky commented on #80
I ended up extending `WebSecurityConfigurerAdapter` to configure my endpoints with custom filter  that extends `BasicAuthenticationFilter` to validate all incoming requests against okta.

[2018-08-21 11:36] gtnarg commented on #81
I'm trying to connect a java client app (swing or javafx) making api calls to a server app over http.  It appears that your client integrations don't cover java (at least documented).  I'm trying to understand how I would integrate okta into a java client app?  I'm interested in both swing and javafx.

[2018-08-21 12:52] gtnarg commented on #81
Perhaps this is what I'm looking for?

https://github.com/okta/okta.github.io/issues/1830

[2018-08-21 14:32] bdemers commented on #81
My guess is you probably want to make your server a resource server, and have the client send the access token for each request.

You should be able to authenticate by showing your users a [web view](https://docs.oracle.com/javafx/2/webview/jfxpub-webview.htm) though I don’t know how secure this embedded browser is.

That said we do not have a Java desktop example at this time (only server example

[2018-08-27 15:17] bdemers commented on #64
@iseletkov the latest version should show up as a badge in the top left of the readme

[2018-08-29 20:12] #77 closed

[2018-09-05 16:57] nbarbettini opened #82 "Library configuration checks"
To help avoid misconfiguration, this library should implement these checks against common errors: https://oktawiki.atlassian.net/wiki/spaces/PM/pages/552049922/Library+configuration+checks

For this library, these checks apply:

- [ ] Issuer
- [ ] Client ID
- [ ] Client secret

Additionally, make sure these placeholders are always used in documentation or samples:

- [ ] `https://{yourOktaDomain}`

[2018-09-17 20:10] bdemers opened #83 "Spring Sec throws 500 when parsing an invalid base64 JWT String"
This should result in a 401 (as the token is invalid) for details see:
https://developer.okta.com/blog/2017/12/04/basic-crud-angular-and-spring-boot#comment-4091910715

TBD: after this is confirmed we might need to pass this upstream to Spring Sec

[2018-09-19 06:32] dineshbade opened #84 "Error on spring boot custom login using widget in jsp"
I have been trying to implement custom login using jsp as my view but i got error saying

but I got success response form /api/v1/auth when i check my network.
also it work fine with thymeleaf view.

[2018-09-19 13:28] bdemers commented on #84
Go with Thymeleaf 😛
Kidding!  What does the rendered HTML look like for the JSP version and the Thymeleaf version.  My guess is there is a element missing or maybe the config is slightly different.  Can you include the JSP snippet too?

[2018-09-20 13:12] bdemers commented on #84
What does the HTML render as?

[2018-09-24 18:22] bdemers opened #87 "Update to Spring Security 5.1 and add OIDC support"
This may be a good time to make a breaking change and stick with Spring Sec 5.1+ going forward (this implies Spring Boot 2x as well)

[2018-09-28 08:22] fcbogle opened #89 "Spring dev-tools + jpa cause a CGLIB error at startup"
Hello,

I am using Spring Boot 2.0.5 and Okta Starter 0.6.0. I am using JPA and DevTools.

I cannot run the application which is in a most basic form i.e. nothing more than basic managed bean config and property source configuration for JPA beans, I get the following stacktrace, please can you suggest how to reconfigure to start the application.

Note I am defining the JPA config locally i.e. Enti

[2018-09-28 14:17] bdemers commented on #89
Do you have devtools enabled?

[2018-09-28 15:02] fcbogle commented on #89
yes it is but I can try without

[2018-09-28 15:03] fcbogle commented on #89
Hi @bdemers  it works when I remove devtools from the pom

[2018-09-28 20:47] fcbogle opened #90 "404 The 'redirect_uri' parameter must be an absolute URI that is whitelisted in the client app settings."
I have a basic Spring Boot 2.0.5 and Okta Starter configuration 0.6.0

My yml files looks like this:
security:
  oauth2:
    client:
      client-id: XXX
      client-secret: XXX
      access-token-uri: https://dev-XXX.oktapreview.com/oauth2/ausgdwqzf1FKoPs6K0h7/v1/token
      user-authorization-uri: https://dev-XXX.oktapreview.com/oauth2/ausgdwqzf1FKoPs6K0h7/v1/authorize
      client-authenticati

[2018-09-28 20:59] bdemers commented on #90
Hey @fcbogle!

The `redirect_uri` is configured on the Okta side of things (similar for other OAuth providers too)

Spring's default redirect uri is: `http://localhost:8080/login` (assuming you are running on localhost:8080)

Okta defaults to use: `http://localhost:8080/authorization-code/callback` (for multiple languages)

Which means if you are using the default you would need to configure your

[2018-09-28 22:01] fcbogle commented on #90
Hi @bdemers thank you for the advice, I am getting further now but get the following error message in the browser. Can you please advise how I need to correct my Okta configuration:
http://localhost:8082/authorization-code/callback?state=NrGllK&error=access_denied&error_description=Policy+evaluation+failed+for+this+request%2C+please+check+the+policy+configurations.

[2018-09-28 22:17] fcbogle commented on #90
I have added a policy now I get a message about too many redirects

[2018-09-30 18:38] fcbogle opened #91 "Spring Sec 5 /Boot 2 + custom WebSecurityConfigurerAdapter -http.oauth2Login() - not configurable"
Hello,
I am working with Spring Boot 2.0.5 and Okta 0.6.0.
I am following a tutorial https://github.com/okta/samples-java-spring/blob/master/okta-hosted-login/src/main/java/com/okta/spring/example/CodeFlowExampleApplication.java but cannot get beyond an issue related to the redirect URI and too many redirects.

The redirect to Okta works successfully, the problems begin on the redirect back to loc

[2018-10-01 09:42] fcbogle commented on #91
I double checked the pom versions and dependencies and aligned with my own project. Having done that I no longer have the redirect problem. However I get an NPE from the /callback controller method related to the authentication reference.

My last change was to the security config to follow the tutorial i.e to make use of OAuth2SsoDefaultConfiguration:

@Configuration
@EnableOAuth2Sso
public class

[2018-10-01 13:12] fcbogle commented on #91
The application starts without devtools in the pom although I still have the redirect issue

[2018-10-01 14:52] bdemers commented on #91
Hey @fcbogle!

I'm guessing you have `security.oauth2.sso.loginPath` set to `/callback`?

Either way, you don't want to handle the callback directly, you would typically do this with a handler, take a look at the example in: spring-projects/spring-security#4472

[2018-10-01 17:04] bdemers commented on #84
@dineshbade, If you are still running into this issue, feel free to comment and reopen!

[2018-10-01 17:04] #84 closed

[2018-10-01 18:20] fcbogle commented on #91
Hi @bdemers many thanks for looking at my request!
Yes, the `security.oauth2.sso.loginPath` is set as you suggest to` /callback`
I'll take a look now at the handlers. Thanks, again.
Do you have any thoughts about the many redirects I am experiencing? I guess this could also be related to a lack of handler. Regards and Thanks

[2018-10-01 18:27] bdemers commented on #91
I'm guessing it is because of your `@GetMapping("/callback")` method. I've never tried to do that, but i'd start there.  If you pull that out and still end up with the same issue let me know!

[2018-10-01 18:47] fcbogle commented on #91
I'll do that and come back if the handler doesn't resolve the problems. Out of interest, how is the Authentication created behind the scenes? The `AuthenticationSuccessHandler `needs an Authentication object to do it's stuff. Is that created by the Okta starter or Spring? How should OI consider the management of GrantedAuthorites within the Okta configuration? Thank you

[2018-10-01 18:58] bdemers commented on #91
It's all handled by Spring Security directly.  As far as GrantedAuthorties goes, are you trying to add them to the context or use them to protect your methods?

[2018-10-01 19:11] fcbogle commented on #91
I was planning on differentiating between admin/regular users. Not much more than that. I guess I would add preAuthorization protection on some methods

[2018-10-01 20:06] bdemers commented on #91
Sure, but what is the source of the roles? accessToken claims? oauth scopes? or some external source?  I can point you to examples for the first couple, and possibly the right direction for the last

[2018-10-01 22:00] fcbogle commented on #91
Hi @bdemers I would probably use access token claims. Regarding an earlier update, in order to make use of `@Override
    protected void configure(HttpSecurity http) throws Exception {
        http
          //.antMatcher("/**")
          .authorizeRequests()
          .anyRequest()
          .authenticated()
          .and()
          .oauth2Login()
          .successHandler(new SsoAuthentication

[2018-10-02 13:47] bdemers commented on #91
@fcbogle taking one step back for a sec Is there anything specific you want to do in your success handler?  (I ask because there might even be an easier way via Spring Security)

[2018-10-02 14:51] fcbogle commented on #91
Hi @bdemers nothing fancy, just redirect the user to an appropriate endpoint based on the claims within the access token. I'm trying to get a basic OAuth2 implementation running so I can break up a monolithic code base, thankfully already written in Java, to a more distributed and federated design. I will probably provide an access point to the resource servers via an OAuth2 Client application tha

[2018-10-02 21:16] bdemers commented on #91
This actually had me a bit stumped.  I think the root of the issue is Spring Securities's oauth properties have changed between 4 and 5. The older properties (which we are using project) still work when you have the correct dependencies, but `http.oauth2Login()` doesn't (as you originally noted).  I tried a bunch of work arounds with no success.

I'd recommend using Spring Security directly, see:

[2018-10-03 19:40] fcbogle commented on #91
Hi @bdemers once again  thanks for your help on this work, greatly appreciated!
I have followed the link to the security 5 oidc tutorial and it working really well.
I notice in the link there is no need to use the @EnableAuth2Sso annotation and it got me thinking about integrating an OAuth2 client like this with one or more Resource servers. Can you please advise whether the yml file for a Resourc

[2018-10-03 19:51] mraible commented on #91
In a recent blog post, I show how to use Spring Security OIDC to protect a Spring Boot API (it redirects when you hit http://localhost:8080 <http://localhost:8080/>) and to setup a resource server (so a client can talk to it by sending an Authorization header).

https://developer.okta.com/blog/2018/09/25/spring-webflux-websockets-react <https://developer.okta.com/blog/2018/09/25/spring-webflux-web

[2018-10-05 11:17] PaulStat opened #93 "OidcDiscoveryClient doesn't work behind a proxy"
As per title. It creates it's own rest template and uses the issuerUri to create requests, but it doesn't check the application.yml to see if a okt.client.proxy is set.

Suggest the rest template has a request factory set with a configured http client which can have it's HttpProxy set if it's part of the configuration.

[2018-10-05 13:48] bdemers commented on #93
As a work around you can disable discovery by using `okta.oauth2.discoveryDisabled`

[2018-10-05 14:46] PaulStat commented on #93
Thanks I have done for now but it would be nice if this was an option.

[2018-10-05 19:30] bdemers commented on #93
Agreed!

[2018-10-08 17:41] #89 closed

[2018-10-10 15:41] #82 closed

[2018-10-13 19:46] bhargava4 opened #95 "Principal is null after update to spring boot 2.0.4 RELEASE"
OAuth2 works fine with spring boot 1.5.8. Able to access POST _/oauth/token_ end-point.

After update to spring boot 2.0.4 RELEASE. _Prinicipal_ is null when I try to access  _/oauth/token_ end-point.

Here is my configuration of spring security.

`package com.ln.security;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.context.annotation.Bean;
import org

[2018-10-13 19:49] #95 closed

[2018-10-13 19:49] bhargava4 commented on #95
https://github.com/spring-projects/spring-boot/issues/14812

[2018-10-16 14:31] bdemers opened #96 "Update to Spring Boot 2.1"
and Spring Security 5.1 on include OIDC support

I've taken a first a pass through this and hacked it up enough to get the TCK (with modifications to pass).

Notes:
* Spring OAuth config property names/structure has changed
* breaking changes
* official support via Spring Security/Spring Boot now, older oauth packages are deprecated
* Resource server support only supports local validation of JWT b

[2018-10-19 10:43] hmessafi commented on #90
Hi @fcbogle, I'm facing the same issue also. Do you found some fixes for this?

Thanks

[2018-10-19 12:46] bdemers commented on #90
@fcbogle sorry i missed the notification on this issue.

Typically the "too many redirects" issue is caused by using a redirect uri that is configured on the Okta side but, doesn't match what Spring is expecting (the default URI changed between versions, too).

@hmessafi my suggestion is to start with the Spring default url to get things working and then change it to what you want.
What versions a

[2018-10-28 22:20] Verric opened #97 "Can't obtain user info on Controller"
Hi,
Was wondering how to obtain the Principal from a request from an SPA, I think I've followed the resource server tutorial fine. I've got a stack over flow question: https://stackoverflow.com/questions/52982123/can-not-retrieve-principal-from-spring-okta-cra-spa

I've got a demo repo at: https://github.com/Verric/carty-temp

Im not sure if this relates  to #95  #76.

Basic details
Spring boot 2.

[2018-10-29 14:21] bdemers commented on #97
It works the same way it would work with Spring Security, you can inject a `Principal` or an `Authentication` (or from `SecurityContextHolder`)

Does that help?

[2018-10-29 22:17] Verric commented on #97
Hi,
Unfortunately not, I can see the token coming fine and the `authenticated` field on Authentication is set to true, however I do not get an user details :(

![screen shot 2018-10-30 at 9 13 39 am](https://user-images.githubusercontent.com/7123404/47683682-6d91b880-dc24-11e8-9cac-45468c023691.png)

[2018-10-29 22:21] bdemers commented on #97
What does `auth.getName()` return?

Or have you tried something like this:
https://github.com/okta/samples-java-spring/blob/master/resource-server/src/main/java/com/okta/spring/example/ResourceServerExampleApplication.java#L62-L64

[2018-10-29 22:28] Verric commented on #97
Wow that was quick  `auth.getName()` returns an empty string :(

If I place the OAuth2Authenitcation as a method param, then it comes in as null

![screen shot 2018-10-30 at 9 27 38 am](https://user-images.githubusercontent.com/7123404/47684204-273d5900-dc26-11e8-910e-248dda327f3d.png)

[2018-10-29 22:45] bdemers commented on #97
What happens when you use a `Principal` as a method param?

[2018-10-30 00:39] Verric commented on #97
Still comes in as null :(
![screen shot 2018-10-30 at 11 39 12 am](https://user-images.githubusercontent.com/7123404/47688233-768c8500-dc38-11e8-863a-6f87f58483c2.png)

[2018-10-30 13:47] bdemers commented on #97
I'm not sure what is going on, can you give this example a shot: https://github.com/okta/samples-java-spring/tree/master/resource-server

Does that work for you?

[2018-11-02 06:23] tommyli opened #98 "Extracting claims in ID token"
I'm having trouble understanding how to configure okta-spring-boot correctly.  Here's some context:
* I'm configuring a resource server using @EnableResourceServer (so basically http.authorizeRequests().anyRequest().authenticated())
* I'm using Resource Owner Password OAuth flow
* Using scope openid profile offline_access
* Using SpringBoot 2.0.5.RELEASE
* Using okta-spring-boot 0.6.1

and here ar

[2018-11-02 08:56] tommyli commented on #98
After more StackOverflow digging, this is the [issue](https://stackoverflow.com/questions/35875098/protecting-rest-api-with-oauth2-error-creating-bean-with-name-scopedtarget-oau) I was hitting.  However, I don't fully understand why adding

[code]
would fix the problem in the context of Okta.

So I guess my question 4. is partially answered but responses to my other questions highly appreciated.

[2018-11-02 11:17] bdemers commented on #98
The version of spring security OAuth we are using doesn’t support OIDC, getting to the Id in’t possible.  We are working on supporting Spring Sec 5.1 and it simplifies much of this. (But it will be a breaking change)

The public keys are downloaded from the /keys endpoint of the “issuer” you have configured.

PreferTokenId configures wheather to use the /introspect endpoint or the /user info endpo

[2018-11-02 14:46] tommyli commented on #98
Thanks for the answers, your team is doing great work.

Any insights as to why RequestContextListener bean is required under RemoteTokenValidationConfig validation?

[2018-11-05 15:29] bdemers commented on #98
Can you share an example that can reproduce this issue?

[2018-11-06 11:43] tommyli commented on #98
Yes, using the example from this project's homepage section "Supporting client side applications - OAuth Implicit flow", I was able to reproduce the problem, i.e. calling /exception returns 401 instead of 500 when `okta.oauth2.localTokenValidation = false` is set in application.properties.

Calling /hello-oauth of course works and returns the principal name as expected.

[code]

[2018-11-07 22:05] dhudec commented on #96
@bdemers Can you provide any update on how this is going or when we can expect a release? We just tried to update to springboot 2.1 to support upgrading another dependency and found that it is not supported by Okta yet, so we were forced to downgrade again.

[2018-11-07 23:19] bdemers commented on #96
Actually yeah, I just forgot to add link them, I have an open PR if you want to take a look #99

[2018-11-09 16:07] bdemers commented on #98
I'll take a look! thanks for the reproduce case!

[2018-12-05 04:32] thomasmchen commented on #71
@bdemers Just wanted to follow up on this issue as I encountered it as well. Was there an official fix for it? I have been using the same work around @handyccc suggested above.

[2018-12-12 15:17] bdemers commented on #23
@PradeepKumarAurotfp what props are returned from your config server?

[2018-12-13 12:33] PradeepKumarAurotfp commented on #23
@bdemers - I am able to get the following properties from the vault
**mongo properties**
spring.data.mongodb.username=${mongodb.username}
spring.data.mongodb.password=${mongodb.password}

**okta properties**
okta.oauth2.client-id={okta.clientId}

[2018-12-13 15:39] bdemers commented on #23
@PradeepKumarAurotfp no issuer?
Have you tried `okta.oauth2.clientId`?

[2018-12-14 10:05] PradeepKumarAurotfp commented on #23
@bdemers Thank you, it works for me. What I changed was, I added the properties in vault as you mentioned using following keys and removed the properties from the application.properties file (which were there earlier).

Although it works this way. I am still not able to understand why id does not work for issuer and works for client it when i keep following properties in application.properties

va

[2018-12-14 15:14] bdemers commented on #23
@PradeepKumarAurotfp thanks for the follow up!

I'll guessing it has to do with the order at which property sources are defined when cloud-config is added (pure speculation though)

[2018-12-14 15:14] sergeytrasko commented on #71
Also faced the reported issue and used proposed workaround.
However a question - what might be negative impact of such workaround?

[2018-12-14 22:09] #96 closed

[2018-12-20 22:35] mraible opened #103 "Add to start.spring.io"
https://github.com/spring-io/start.spring.io/issues/new?template=new-entry-proposal.md

[2018-12-21 17:05] bdemers commented on #103
https://github.com/spring-io/start.spring.io/issues/32

[2018-12-24 12:21] #97 closed

[2019-01-07 17:16] bdemers commented on #90
Closing due to inactivity, please reopen if you are still having problems!

[2019-01-07 17:16] #90 closed

[2019-01-08 22:49] cah-calixtomelean opened #104 "Support opaque access tokens"
Not entirely sure this is an issue with this starter but can't figure out how to get this work. So I log in to my web (springboot) app (using okta authorization code flow), then I "Clear User Sessions" from Okta's developer console UI, which is supposed to revoke all existing tokens. However, this user is able to continue using the app using the same token. I'd expect the app to redirect to the lo

[2019-01-09 01:43] bdemers commented on #104
The current version of Spring Security only has support for local token validation.

Are you building a Resource Server. There is and open Spring Sec issue for this, but i don’t ave it handy

[2019-01-10 09:36] sonu3706 commented on #90
@bdemers I am facing the same issue as above.
In my scenario, I have added  `http://localhost:8080/login` as a redirect URI in okta console and when I hit `http://localhost:8080/secondhome` from the browser I get okta login page and then I give my credentials after that I get `Too many redirect` issue.
And If I remove `http://localhost:8080/login` from Okta console I get `404 The 'redirect_uri' pa

[2019-01-10 09:38] sonu3706 opened #105 "`404 The 'redirect_uri' parameter must be an absolute URI that is whitelisted in the client app settings `"
@bdemers  As you have closed the same issue earlier which I am unable to open hence creating new issue for the same.
In my scenario, I have added  `http://localhost:8080/login` as a redirect URI in okta console and when I hit `http://localhost:8080/secondhome` from the browser I get okta login page and then I give my credentials after that I get `Too many redirect` issue.
And If I remove `http://l

[2019-01-10 13:43] patricio-loduca-olx opened #106 "Add a property to enable/disable"
Hi, I was looking a way to disable the authentication for local environments or integration test but I couldn't. Is there a way to disable it? Do you have in mind a feature to allow it?

Thanks!

[2019-01-10 14:12] bdemers commented on #90
@sonu3706 moved to #105 as request

[2019-01-10 14:13] bdemers commented on #105
@sonu3706 which version are you using?

[2019-01-10 14:24] bdemers commented on #106
You can disable the autoconfig classes, something like:
spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.security.SecurityAutoConfiguration

If you are trying to do this for testing Spring has a few other options too

[2019-01-10 21:45] bdemers commented on #106
What did you do to disable spring security?  Maybe we can trigger on that so you don't need to add `spring.security.oauth2.resourceserver.jwt.jwk-set-uri: false` ?

[2019-01-11 02:38] patricio-loduca-olx commented on #106
Spring security is enabling really. But in base on a property, I'm configuring the security to allow any request or applying our security policies. The configuration to allow all request is:

[code]

I think it would be better to have a property `okta.oauth2.enable: false` to do that. And this property could be used in the conditional property of the class **OktaOAuth2ResourceServerAutoConfig** .

[2019-01-11 05:44] sonu3706 commented on #105
Spring boot version-- 2.1.1

[2019-01-11 15:11] cah-calixtomelean commented on #104
Thanks @bdemers . I guess we could implement a "filter" or (something like that), that "validates" the token using the "introspect?" endpoint on the authorization server? Are you aware of an example doing this? I'll do some digging too If you think I am on the right track here. Thanks again.

[2019-01-11 17:11] bdemers commented on #104
Hey @cah-calixtomelean, it doesn't look like official support is that far away:
https://github.com/spring-projects/spring-security/pull/6352
You might be able to grab something from that PR

[2019-01-11 17:40] bdemers commented on #105
What does your config look like on the Okta side and your application.properties/yml?

[2019-01-11 17:44] bdemers commented on #106
I think I understand, our goal is that if the corresponding okta.oauth2.* or equivalent spring properties are not set, then the Okta autoconfig classes should be disabled.  Would that work for you?

[2019-01-11 17:51] patricio-loduca-olx commented on #106
Yes, that's looks good to me!

[2019-01-14 05:50] sonu3706 commented on #105
okta.oauth2.issuer=https://dev-376319.oktapreview.com/oauth2/default
okta.oauth2.clientId=
okta.oauth2.clientSecret=
okta.oauth2.discovery-uri=https://dev-376319.oktapreview.com/.well-known/openid-configuration
okta.client.token=
security.oauth2.client.accessTokenUri=https://dev-376319.oktapreview.com/oauth2/default/v1/token
security.oauth2.client.userAuthorizationUri=https://dev-376319.oktaprevie

[2019-01-14 15:45] bdemers commented on #105
You should set either the `okta.oauth2.*` props or the Spring ones (not both).

just the okta ones should be all you need:
[code]

All the other properties can be resolved from the issuer.

You may also want to reset your secret ;)

Spring's default redirect uri would be `<your-application-url>/login/oauth2/code/okta` (assuming you are using the latest Spring and Okta starter versions).  Otherwise

[2019-01-15 18:54] cah-calixtomelean commented on #104
it looks like Okta's authorization server implementation of the /introspect endpoint rejects the request if the entity making the call is not the same client (client_id) that the token was issued to. It throws an "invalid_client" error. I guess I am not sure how resource servers would be able to introspect a token then. In the flow I am testing, the token was issued to the web app client that is c

[2019-01-15 19:33] bdemers commented on #104
This is expected, see: https://tools.ietf.org/html/rfc7662#section-2.1

   some form of authorization to access this endpoint, such as client
   authentication as described in OAuth 2.0 [RFC6749] ...

[2019-01-15 20:20] cah-calixtomelean commented on #104
I agree credentials should be presented for authorization, but don't have to be the credentials of the client the token was issued to. The resource server is going to send over its client id and secret, not the client's credentials (which it has no way to know of). Seeing the code in that PR you linked for the IntrospectionAuthenticationProvider, that's what I believe it's going to do. And I don't

[2019-01-15 22:01] bdemers commented on #104
You could also use the userinfo endpoint with the AccessToken as Bearer auth

[2019-01-18 23:04] mraible opened #108 "Groups extraction doesn't work with Spring WebFlux"
The following Spring Security configuration does not work when using the Okta Spring Boot starter 1.0.0 with Spring WebFlux.

[code]

This one does work.

[code]

This library is supposed make it so groups don't needed to be mapped to authorities with code, so this seems like a bug.

[2019-02-20 19:53] anupamatrey opened #113 "Okta SSO with Spring Boot 2"
Hello All
I am building a SSO Solution with Spring Boot and Okta, but i am getting below issue and don't see any solution.

POM.XML
[code]

Java Class
[code]

application.properties

[code]

_### **Error
[code]

[2019-02-20 21:28] bdemers commented on #113
Looks like you just need to update to version `1.1.0`
Version `0.2.0` only supports Spring Boot 1.5.x

Keep us posted!

[2019-02-21 03:13] anupamatrey commented on #113
i would developer know that which version of okta works with which spring boot version. do you have some where written these information?

[2019-02-21 15:24] bdemers commented on #113
@anupamatrey It is near the top of the [README](https://github.com/okta/okta-spring-boot/blob/master/README.md). Let us know if you have any other questions!

[2019-02-21 15:24] #113 closed

[2019-02-25 15:39] cniesen opened #114 "Display actual username instead of sub"
The examples display `principal.getName()` and often label it incorrectly as the username ([example here](https://github.com/okta/okta-spring-boot/blob/e78d1855ece298da5a2955c3da46704d0ab2c336/examples/redirect-code-flow/src/main/java/com/okta/spring/example/controllers/WelcomeController.java#L34)).
However, `principal.getName()` returns the sub (Subject Identifier).  While the sub for Access Toke

[2019-02-25 15:53] bdemers commented on #114
Agreed! We will update that!

[2019-02-25 15:55] mraible commented on #114
@bdemers If you change the default, will passing in `principle.getName()` still work with the Java SDK? For example, here's some code from a [blog post](https://developer.okta.com/blog/2018/01/23/replace-local-storage-with-okta-profile-attributes#create-a-holdingscontroller-to-communicate-with-oktas-api):

[code]

[2019-02-25 16:19] bdemers commented on #114
Yup! `client.getUser()` will work with both email address and the id.

[2019-02-25 19:04] bdemers commented on #108
Fixed in 1.1.0

[2019-02-25 19:04] #108 closed

[2019-02-25 19:05] bdemers commented on #105
@sonu3706 closing, but leave us a note here if you are still running into problems!

[2019-02-25 19:05] #105 closed

[2019-02-26 18:01] #103 closed

[2019-02-26 18:02] bdemers commented on #103
done!

[2019-02-28 17:51] bdemers commented on #93
Discovery has been removed in current version 1.0+ (as this plugin knows how to build the relative URLs based in the issuer)

[2019-02-28 17:51] #93 closed

[2019-02-28 18:03] bdemers commented on #98
This logic has changed as of 1.0+ currently only local access token validation is supported (likely until Spring Security 5.2)

I cannot reproduce this against the latest release.  Please comment if you feel we should reopen

[2019-02-28 18:03] #98 closed

[2019-02-28 18:09] mraible opened #115 "Change title of project in GitHub header"
Currently, it is "Okta Spring Security". It should be "Okta Spring Boot Starter".

[2019-02-28 19:51] bdemers commented on #81
Let's move this to okta/okta.github.io#1830

[2019-02-28 19:51] #81 closed

[2019-02-28 19:57] bdemers commented on #81
Matt just pointed me to this project as well: https://github.com/Microsoft/oauth2-useragent
Thanks: @mraible

[2019-02-28 20:01] bdemers commented on #91
As of 1.0+ you should be able to override the defaults. Please leave a comment if run into any trouble!

[2019-02-28 20:01] #91 closed

[2019-02-28 20:01] bdemers commented on #87
Done
as of the 1.0 release

[2019-02-28 20:01] #87 closed

[2019-02-28 20:24] bdemers commented on #71
This should no longer be an issue with 1.0+. please leave a comment if you are still hitting this issue

[2019-02-28 20:24] #71 closed

[2019-02-28 20:26] bdemers commented on #37
This should be fixed as of 1.0.
Spring Boot 2.0 made this much easier to deal with

[2019-02-28 20:26] #37 closed

[2019-03-01 15:31] ashebby opened #116 "Authorization code flow Okta doesn't work behind proxy"
I am following this tut: https://developer.okta.com/blog/2018/07/19/simple-crud-react-and-spring-boot

I am running into error: `Caused by: java.net.UnknownHostException: xxxx.okta.com`

I have configured a custom RestTemplateCustomizer as such:

    public class ProxyConfig implements RestTemplateCustomizer {

    @Override
        public void customize(RestTemplate restTemplate) {
            Si

[2019-03-01 15:36] bdemers commented on #116
Hey @ashebby!
I'm not 100% sure on your question.  Is this related to this library or a general Spring proxy question?

Have you tried inspecting the network traffic? Or using System properties `http(s).proxyHost` and `http(s).proxyPort` ?

[2019-03-01 15:38] #115 closed

[2019-03-01 15:38] bdemers commented on #115
Done !

[2019-03-01 15:59] ashebby commented on #116
Hi,

The app runs fine when I'm off corporate network, but then throws an exception once I am connected to the corporate network.

I attempt to bypass where ever the http call to my okta url is being made executed, hence why I the use of RestTemplate.

I have attempted to use System properties as well, same error still exist

[2019-03-01 16:22] cniesen opened #117 "Customizing UserUtil"
The okta-spring-boot library is nearly perfect for my use at work.  The only things are:

1) We'd want the username instead of the clientID in the name (related to issue #114).

2) We'd only want the Okta assigned groups and not the default ROLE_USER  and SCOPE_ groups.  (Any reason why these would still be desired?)

I was able to nicely change the okta-spring-boot libary by overriding the UserUt

[2019-03-01 19:04] bdemers commented on #116
Is your proxy letting those requests go through? can you make requests from something like curl or httpie to test it out?

[2019-03-01 19:11] bdemers commented on #117
You should be able to pull those details from the User attributes, something like:
https://github.com/okta/samples-java-spring/blob/master/okta-hosted-login/src/main/java/com/okta/spring/example/CodeFlowExampleApplication.java#L62-L64

If you have already tried that can you explain how you are using the user/auth object, maybe that will help us expose something better if needed.

[2019-03-01 19:39] cniesen commented on #117
Pretty much as in my [sample app](https://github.com/cniesen/okta-springboot-example/tree/custom-userutil) linked above.
 - To access the Okta username: `principal.getName()`
 - For role/group permissions either
  `@PreAuthorize("hasAuthority('Admin)")` in the controller or
  `.antMatchers("/admin").hasAuthority('Admin')` in WebSecurityConfigurerAdapter

I guess the extra roles in authority list a

[2019-03-01 22:54] bdemers commented on #117
You should be able to simplify getting the principal by injecting the OidcUser direction by using the following annotation: `@AuthenticationPrincipal OidcUser user`

For example:
[code]

**Disclaimer:** the above is cobbled together from a few different sets of notes, but give that a shot and let me know.

[2019-03-01 23:11] cniesen commented on #117
Your code snipped works flawless.  I guess that works for me.  Thanks @bdemers for your help, time and the great library.

[2019-03-01 23:11] #117 closed

[2019-03-02 01:34] fritzdj opened #118 "Feature request: Support for client_credentials grant"
We would like to use the client_credentials flow (specifically we want to use the `@RegisteredOAuth2AuthorizedClient` annotation), but if client info is added when using this dependency it's automatically running `OktaOAuth2Configurer.configureLogin`. Would it make sense to check the grant type first before doing that and calling a new `configureClient` method that sets up the client using `http.o

[2019-03-03 17:45] mraible opened #119 "No unauthorized error when setting up a resource error"
With v0.6.1 of this starter, if you set up a resource server and configured your Okta settings in `application.properties`, you'd get an "unauthorized" error when you tried to hit http://localhost:8080.

From https://developer.okta.com/blog/2018/12/03/bootiful-spring-boot-java-vue-typescript#create-an-oidc-app-in-okta:

![image](https://user-images.githubusercontent.com/17892/53699025-2ddd0800-3da

[2019-03-04 09:55] ashebby commented on #116
Yes I am able to make a connection through my terminal as follows:

[code]

[2019-03-05 16:25] ashebby commented on #116
This the full error log:

[code]

[2019-03-05 17:27] bdemers commented on #116
Did you set the corresponding HTTPS proxy settings too?

[2019-03-05 20:10] #76 closed

[2019-03-06 09:15] ashebby commented on #116
I have my proxy settings configured in bash_profile, before running command `http xxx.okta.com` I export my proxy config as such

[code]

[2019-03-06 17:23] bdemers commented on #116
And the HTTPS equivalent system properties didn't help?  How are you starting the app via Maven? Something like `./mvnw -Dhttps.proxy...` ?

[2019-03-07 10:15] ashebby commented on #116
Yes indeed, I am using `-Dhttps.proxyHost` and `-Dhttps.proxyPort`

[2019-03-07 19:14] bdemers commented on #116
@ashebby How are you starting your application via Maven?
If so you need to either disable forking (`-Dspring-boot.run.fork=false`) or configure the System properties similar to this when using the Spring Boot Maven Plugin:
https://docs.spring.io/spring-boot/docs/2.1.3.RELEASE/maven-plugin/examples/run-system-properties.html

[2019-03-11 01:37] fritzdj commented on #118
A side note on this one - it's unclear what the best pattern is for getting new access tokens Spring Security 5 and the client credentials grant. It seems like with `@RegisteredOAuth2AuthorizedClient` the authorized client stays static. Would we need a custom implementation to (1) check if there is an authorized client, (2) check the access token expired time, and (3) get a new access token if nee

[2019-03-11 14:29] bdemers commented on #118
@fritzdj IIRC, all of that is OOTB

[2019-03-13 16:22] fritzdj commented on #118
See https://github.com/spring-projects/spring-security/issues/6609 - this was actually never implemented

[2019-03-14 21:11] bdemers commented on #83
I haven't been able to reproduce this with Spring Sec 5.1.

[2019-03-14 21:11] #83 closed

[2019-03-20 19:27] #106 closed

[2019-03-25 16:29] sanitas2 opened #122 "Document what okta-spring-boot-starter does"
The actual documentation doesn't really tell much about it. I was under an impressions it's some internal library, I was quite surprised that it exposes some endpoints. Like /login or /logout. Logout seems to accept some POST request to logout as well. Those things are not mentioned around here. Also I think those things should be somehow configurable (like I followed a tutorial and for login I ha

[2019-03-25 16:49] bdemers commented on #122
@sanitas2 this lib just helps configure Spring Security OAuth/OIDC (as well as adds a little sugar for Okta users, like improved access token validation, and adds support for Okta custom claims to Spring Security authorities)

I'll take a shot at making this more clear in our README though.

As for your questions about how /login /logout works the best resource would be the Spring Security documen

[2019-03-25 16:49] #122 closed

[2019-04-06 12:53] DimaSol opened #124 "token invalid on back-end after successful login on front-end SPA"
Hi,
I've been following the quick start guide https://developer.okta.com/quickstart/#/angular/java/spring but keep getting an invalid token exception from spring.
I'v double checked that all parameters are as described in the guide, angular widget is working properly and getting an access token but when this access token is being sent to the back-end as a "Authorization: 'Bearer ' + token" header,

[2019-04-08 14:12] bdemers commented on #124
What does your configuration look like? `okta.oauth2.issuer` ?

[2019-04-08 16:02] DimaSol commented on #124
I've configured it as described in the guide with a yaml file:
`
okta:
  oauth2:
    issuer: https://dev-xxx.oktapreview.com/oauth2/default
    clientId: yyy
    audience: api://default
    groups-claim: grp
`
The issuer and clientId are same as in the angular configuration.

[2019-04-08 18:13] bdemers commented on #124
Can you send me the browser network log? (with preserve checked)

[2019-04-08 18:53] DimaSol commented on #124
I guess you are requesting both the SPA authentication flow with Okta and the request being sent to back end with the 401 (unauthorised) response code? Where should I send it?

[2019-04-08 19:28] bdemers commented on #124
mostly just the request (or series of requests) that triggered the redirect

[2019-04-08 23:31] DimaSol commented on #124
Redirect is only happening on the angular widget flow that is successful - I'm able to get the access token from okta to my front-end after log in. The issue is when I'm using this access token with back-end to send some rest requests - this requests are failing with a 401 code.
Still not sure what are you asking me to send and how should I send it?

[2019-04-09 00:29] bdemers commented on #124
Hey @dimasol,
Grab the browser network log, you can either attach it to this issue or send it to me directly: first.last@okta

[2019-04-09 09:41] DimaSol commented on #124
Sent to first.last@okta.com.

[2019-04-09 12:46] bdemers commented on #124
Sorry @dimasol, I meant my first.last (brian.demers)

[2019-04-09 17:30] DimaSol commented on #124
Ok, resent it.

[2019-04-10 10:27] prasadkolasani commented on #23
@bdemers This is nice article which is working nice. https://developer.okta.com/blog/2018/04/02/client-creds-with-spring-boot

But my problem is, when I tried same using spring-starter-web (instead of commandliner), then it is always redirecting to login page. Is there any way we can directly authenticate similar to commandLiner instead of redirecting to login page? Please help.

[2019-04-10 13:55] bdemers commented on #23
@prasadkolasani I'm not sure i'm following your question. Your best bet might be to post to our dev forum: https://devforum.okta.com

[2019-04-12 16:22] bdemers commented on #124
Resolved offline.

Summary, the _old_ spring oauth modules were on the classpath, removing these fixed the issue.

[2019-04-12 16:22] #124 closed

[2019-05-07 19:48] bdemers opened #126 "Support OIDC logout - RP-initiated logout"
There was a Spring Security issue related to this a while back, but my search fu is failing me.

We need to (at minimum document) how to revoke Okta's id tokens when a user logs out, and document how to end an Okta session.

Depends on: spring-projects/spring-security#5350

[2019-05-07 19:52] mraible commented on #126
AFAIK, this is only possible on the client side. I've implemented in JHipster. [This blog](https://developer.okta.com/blog/2019/04/15/testing-spring-security-oauth-with-junit) shows the code in the beginning.

[2019-05-10 14:25] joncatanio opened #127 "Resource Server won't compile without Client ID"
Hello 👋 I'm currently working on a project with webflux and the okta-spring-boot-starter. I'm configuring a resource server that has a few endpoints and validates JWTs minted from my Okta auth server. Unfortunately I receive the following compilation error:

[code]

My application properties file looks something like this:

[code]

Notice I don't include `okta.oauth2.client-id`, this seems to caus

[2019-05-10 16:13] bdemers commented on #127
Thanks for the report @joncatanio!

This was fixed in 3c13bc7635c90a47c07d714a031f42d7bd8a280d
(i'm kicking off a new release today), it _should_ be available in a couple hours.

[2019-05-10 16:13] #127 closed

[2019-05-11 20:45] mraible commented on #119
I'm reopening this issue because I think it can be improved. The error in the 1.x version of our starter looks as follows:

![image](https://user-images.githubusercontent.com/17892/57574698-1bafc380-73fb-11e9-9e01-fb1d5f18e887.png)

When using 1.2.0, there is no error in Firefox. You just get a blank screen.

![Screen Shot 2019-05-11 at 2 44 33 PM](https://user-images.githubusercontent.com/17892/5

[2019-05-12 03:47] ramkrishs commented on #71
still an issue i am getting this error with 1.1.0

[2019-05-12 14:25] bdemers commented on #71
@ramkrishs, can you include the stacktrace you are seeing with 1.1.0?
Do you have actuator on the classpath?

[2019-05-13 16:21] joncatanio commented on #127
@bdemers Hi Brian, I was able to bump my version and I see it working, however I have one more quick question for you.

When I bumped the version I still received the "Client id must not be empty" error. I noticed that when I removed `scopes` from my properties file that it would correctly compile and the resource server worked. It appears that including `scopes` attempts to [validate registration

[2019-05-13 18:47] bdemers commented on #127
I'll write a test for this.

`scopes` should have a default value (`email profile openid` from Spring Security IIRC) so it _shouldn't_ matter if it is set or not.

Do you have any other Spring OAuth2 properties set? Or is it basically just something like:

[code]

Thanks for following up!!!

[2019-05-13 19:30] joncatanio commented on #127
The properties I have set are the exactly this (with a valid auth server uri, of course):
[code]

I only had `openid` set, but I was thinking in the future I'd want to set up a custom scope and include it here. It seems like in that case I wouldn't be able to do that because it would fail to compile (due to unspecified `clientId`.

For now I've just omitted the `scopes` and it appears to work just

[2019-06-05 22:23] bdemers commented on #126
This should be pretty straight forward once the next version of Spring Boot/Spring Security is released
With some Initial hacking, i think we can enable this via a property: `okta.oauth2.postLogoutRedirectUri: http://localhost:8080/`

[2019-06-05 22:27] bdemers opened #132 "Support PKCE client flows"
Client support for PKCE has been added in the next [Spring Security Release](https://spring.io/blog/2019/04/16/spring-security-5-2-0-m2-released)

We have a few places we check if the client-secret is set.  This needs to be removed and ONLY check for `client-id`.  All that is needed is an issuer and a client-id (assuming PKCE is enabled)

[2019-06-23 00:34] sunilkosuri opened #133 "Spring Boot Starter - Refresh Tokens"
Hi,

I am new to Okta/OIDC and just implemented the OIDC Authorization Code Flow using your Spring Boot 1.2.1 starter (Angular 6 is the client I am using).  Everything works well.

Using the information in the OAuth2AuthenticationToken, I am creating my own JWT Token that contains the

**subject** (getPrincipal().getAttributes().get("preferred_username")),
**authorities** (getPrincipal().getAttrib

[2019-06-24 14:04] bdemers commented on #133
Hey @sunilkosuri!

I'm not sure I fully understand your question.  You mentioned that you are using an Auth Code Flow and an Angular 6 client. Is your client hosted by your Spring Boot App?  If so then from the client perspective it would just be a typical servlet session?

You are creating your own JWT token? How are you doing this? It sounds like there is a little overlap between what Spring Sec

[2019-06-25 02:20] sunilkosuri commented on #133
Maybe I am confused.  Is there any article that explains how to implement the "authorization code" flow for an Angular SPA front-end calling a Spring Boot back-end using a ReST API?  The articles I found were using an implicit flow.

[2019-06-25 02:39] bdemers commented on #133
We will have examples soon using an Auth Code Flow with PKCE see okta/okta-oidc-js#348
(or you could use any other standard oauth client)

On the Spring Side (which would be a Resource Server in your case), is basically just validating a token, any management of that token would happen in the client that obtained the original token.

Does that help?

[2019-06-25 09:28] mraible commented on #133
@sunilkosuri Check out JHipster. It generates a Spring Boot backend with Auth flow code configured. The front end is Angular (by default). Here’s a blog post I wrote about it recently: https://developer.okta.com/blog/2019/04/04/java-11-java-12-jhipster-oidc.

[2019-07-09 20:15] ayushsagar opened #134 "Separating OAuth2 issuer and jwk uri in resource server"
In my resource server the access token I receive in production environment has issuer set to something like `https://myorg.okta.com`. And if I set `okta.oauth2.issuer` property to this I get `java.lang.IllegalStateException: Could not obtain the keys` when I try to validate token.

The actual jwk uri is something like `https://myorg.okta.com/oauth2/v1/keys` so if I set `okta.oauth2.issuer` propert

[2019-07-09 20:20] mraible commented on #134
@ayushsagar The default authorization server is at `https://myorg.okta.com/oauth2/default`. Can you try that and see if it fixes the problem?

[2019-07-10 15:13] ayushsagar commented on #134
So it turns out the issue is not what I thought. The kid (key id) of access token didn't match the keys here `https://myorg.okta.com/oauth2/v1/keys` and that was the real issue.

On reading this docs here <https://developer.okta.com/docs/concepts/auth-overview/#authorization-servers> I learn that unless I specify an authorization server, like `default` as @mraible mentions, I'm using the Okta inte

[2019-07-10 15:14] #134 closed

[2019-07-10 16:47] nbarbettini commented on #134
@ayushsagar Sorry about the confusion. We're working on making this clearer.

For context, who are the users of your resource server? (if you don't mind sharing)
I'm trying to get a better sense of what applications people are building when they run into this issue.

[2019-07-13 03:21] anuraram12345 opened #135 "Access Denied Error while authorizing"
I have below Security

@SpringBootApplication
@EnableSwagger2
@EnableMongoRepositories
@EnableWebSecurity(debug = true)
@Component
//@EnableResourceServer
@EnableGlobalMethodSecurity(prePostEnabled = true)
//@EnableResourceServer
//@EnableAutoConfiguration(exclude = OAuth2AutoConfiguration.class,
 //                                  // SecurityAutoConfiguration.class, SecurityFilterAutoConfigurati

[2019-07-15 16:21] bdemers commented on #135
Hey @anuraram12345!

CORS is always a fun one ;)

I've found the easiest way to configure it looks something like this:
https://github.com/okta/samples-java-spring/blob/master/resource-server/src/main/java/com/okta/spring/example/ResourceServerExampleApplication.java#L40-L49
Or: https://developer.okta.com/docs/guides/protect-your-api/springboot/configure-cors/

We have a few posts on the topic too

[2019-07-23 15:27] bdemers opened #136 "Cannot set custom userInfoEndpoint user/oidc user service"
This is caused by the use of a factory configured in `META-INF/spring.factories`

[code]

Maybe we can change this logic to lookup a bean from the context instead.  Otherwise, we might need to provide some other way to allow custom Authorities to be added to the current user.

[2019-07-23 15:29] bdemers commented on #136
(possibly getting the current context similar to this: https://github.com/okta/okta-spring-boot/blob/master/oauth2/src/main/java/com/okta/spring/boot/oauth/OktaOAuth2Configurer.java#L46)

[2019-07-23 15:57] bdemers commented on #119
A little late responding to this, but I had updated the sample app with details on how to configure the browser-friendly response:

https://github.com/okta/samples-java-spring/blob/master/resource-server/src/main/java/com/okta/spring/example/ResourceServerExampleApplication.java#L42-L43

[2019-07-23 15:57] #119 closed

[2019-08-12 21:42] preiner opened #137 "How do I enable okta-spring-boot proxy support?"
It appears that okta lib ignores java proxy settings.
We need to use a proxy to reach okta.com but bypass proxy for local addresses.

[2019-08-13 14:05] bdemers commented on #137
Hey @preiner, how did you set the properties?
Which requests are not going through your proxy?

[2019-08-20 18:35] vekdeq opened #139 "/logout does not kill the Okta Auth session"
Hi Team,

Raising this known issue in this forum as instructed in other forum. The /logout is not killing okta session when upgraded to Spring Security 5.2.0.M4 - using okta spring boot starter. From network logs, I could see the <app>/logout hit from app UI link - which redirect to app/login page (default settings) - but doesn't kill Okta session (my apps IDP). This was known issue - but was expe

[2019-08-20 18:51] bdemers commented on #139
What does your logoutSuccessHandler (and other HttpSecurity config look like?)
I messed with this a while back `M2` IIRC, and this is what I used at the time: https://github.com/okta/okta-spring-boot/compare/oidc-logout?expand=1

(we cannot merge it until 5.2 goes GA, but you should be able to do something similar in your app)

NOTE: by default logging out of your Spring Security session does NOT

[2019-08-20 18:51] #139 closed

[2019-08-23 19:46] preiner commented on #137
Hi,
Forgive me, I am not a java developer. I am leading the okta implementation and was asked to drive this issue. I understand some of my comments may be a bit confusing, if you need clarification, please ask.

Our org has developed over a hundred apps using spring 2.0. We are trying to migrate them from kerberos (spnego) to oauth. Our existing platform is 100% on premise and now we have to go to

[2019-08-23 19:57] bdemers commented on #137
Hey @preiner !

[2019-08-23 20:03] preiner commented on #137
Hey back :)

[2019-08-23 20:06] bdemers commented on #137
ha, sorry, I hit enter too soon ;)

[2019-08-28 17:40] jkennedy4 commented on #136
My use case for injecting my own code in the spring boot + oauth + okta flow is as follows.  We will be supporting 3 different types of applications on our side: a legacy (JBOSS) app with spring xml-config and custom "homegrown" security, a JBOSS app with spring security and a spring boot app.  We would like to add information to the OAuth2AuthenticationToken which is the object ultimately returne

[2019-08-29 18:51] nashley commented on #53
I'm also running into this issue.

Not specifying `okta.oauth2.redirect-uri` results in an `http://` URL, and specifying a full URL just ends up with it appended to the `baseUrl`.
For example:
- `okta.oauth2.redirect-uri: https://domain.com/oauth2/authorization/okta` results in `https://domain.com/oauth2/authorization/oktahttp://domain.com/oauth2/authorization/okta`
- Omitting it results in `http:

[2019-08-29 19:33] bdemers commented on #53
Hey @nashley
Spring Security uses the current request URL for the `baseUrl`
There are a few other parameters you can use as well, you can view the related code here:

https://github.com/spring-projects/spring-security/blob/7cfb17a8a39dbdd0819b64c2b95f10ac85d184af/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/server/DefaultServerOAuth2AuthorizationRequestResolver

[2019-08-29 21:54] nashley commented on #53
Hey @bdemers
Specifying `server.use-forward-headers: true` seems to have worked! Thank you so much!

Good to know that `{baseUrl}` is built into `spring-security`.
I'm always surprised by how hard it seems to be to find the relevant Spring documentation via Google. I'm glad you knew where to look! :slightly_smiling_face:

I believe the reason this was occurring is that I was testing on deployments

[2019-09-11 22:14] vekdeq commented on #126
Hi There,

I was able to configure custom LogoutSuccessHandler - with some tweak to inject Okta's logout endpoint URL and addition id_token_hint. The question I have is - how to configure Spring Security / Okta Boot Starter to check for Okta Session (I guess hit IDP) to make sure you are logged in. The use case is what we have, where in we have multiple applications (Spring boot based WARs on Tomc

[2019-09-13 08:55] snicoll opened #140 "Please confirm compatibility with Spring Boot 2.2"
We're heading towards an RC1 of Spring Boot 2.2 soon, followed [by GA in Q4](https://github.com/spring-projects/spring-boot/milestones). Can you please confirm full compatibility of the starter with Spring Boot 2.2?

As soon as we hear from you, we can enable the starter again on start.spring.io, see https://github.com/spring-io/start.spring.io/issues/266

Thanks!

[2019-09-13 15:30] bdemers commented on #140
@snicoll confirmed
I bumped the version of Spring Boot to 2.2.0.M6, and all of our integration tests pass.

Is there a more proactive [read: automated] way we can confirm compatibility between versions?
CI? some sort of trigger?

[2019-09-13 15:52] vekdeq commented on #126
Hi Brian,

Thanks for your response !! We are inclining toward making access token time short. I did some brief research, but I didn't find an api to set it up. Is this through API or Okta portal. Further, is this different than session time out set in okta ? I hope it is different ..

Vivek

[2019-09-13 15:55] bdemers commented on #126
@vekdeq Take a look at your Authorization Server configuration, under "Access Policies"

[2019-09-13 16:12] snicoll commented on #140
@bdemers sweet, thanks for the quick reply. Two things:

* A CI where you override the [Spring Boot version](https://github.com/okta/okta-spring-boot/blob/f5d230c8c05dd619f28388cab4118e546998b45d/pom.xml#L34) to the upcoming release is very much appreciated. If you do this, we won't disable the entry as we did here.
* Regular updates to the starter is appreciated as it provide the latest and great

[2019-09-13 16:27] bdemers commented on #140
Thanks @snicoll!
That should be easy enough!

We are excited for the next release (lots of great OAuth related updates in there!), and have a backlog that is patiently waiting :D

[2019-09-13 16:48] vekdeq commented on #126
Thanks Brian !! The minimum access policy - it let's set is 5 mins. We are testing the applications with these changes. 5 mins is a bit too high for our comfort. It keeps vulnerability alive too long. As I a backup, How can I configure to validate IDP in each hit  ?

Vivek

[2019-09-13 20:43] bdemers commented on #126
@vekdeq It depends on the type of app you are building. You could go the route of something like Spring Cloud Gateway, use that to handle an OAuth auth code flow.  That would proxy access tokens to your application (a Resource Server in OAuth terms).   You could then treat the Tokens as opaque, and validate them against Okta.

That said, Opaque token support will be in Spring Boot 2.2 (Spring Secu

[2019-09-14 06:05] snicoll commented on #140
I am curious what you mean by that. Waiting for what exactly?

[2019-09-14 15:57] bdemers commented on #140
We can use this issue to track it, if you prefer.

Waiting for the release, to start taking advantage of the new features. (RP-initiated logout, PKCE support, opaque tokens, etc)
(Initial testing of with these features has gone well)

[2019-09-17 21:37] vekdeq commented on #126
Hi Brian,
We made changes in Okta config to expire token after 5 mins. Further research concluded that it sets up bearer token expiration time to 5 mins but access token (Authentication object from SecurityContext) is still valid for an hour. I guess we need  to have authentication object expires in 5 mins. Is there a way to configure this?

Vivek

[2019-09-17 22:31] bdemers commented on #126
@vekdeq reach out to [Support](https://support.okta.com/help/s/), sounds like you might have multiple Authorization Servers? Also, send along an example cookie (likely your applications JSESSIONID)

[2019-09-17 23:19] vekdeq commented on #126
Hi Brian,

I was on okta support call, when I received your response. They informed me that Authentication Object have idToken expiration time and not bearer / access token's exp time.   Here are logs :

-- When I retrieve the access token from Authentication object -----
-- accessToken Value --eyJraWQiOiJoOVg0QkNvU1VOQ0M4UXVteVVGVVZsQnhvRW9HQ2VWUXhQaTJRb0xVcXZJIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsI

[2019-09-17 23:25] mraible commented on #126
Maybe reducing your session timeout to 5 minutes would help? Do you have a web.xml?

[2019-09-18 16:01] vekdeq commented on #126
Hi Matt,

Thanks for your response !!

Nope .. It's a spring boot based WAR deployed on tomcat (external) w/o web.xml. There are multiple such as WARs deployed on clustered Tomcat server (2 nodes) - with single app configured in Okta for all these WARs. Even I Okta dev. blogs (https://developer.okta.com/blog/2019/03/05/spring-boot-migration) - Micah mentioned - it is difficult to do this - SLO (Si

[2019-09-24 07:11] snicoll commented on #140
@bdemers any news about that stuff? I'd like to make sure users can use Okta with SB 2.2

[2019-09-24 13:48] bdemers commented on #140
@snicoll I can confirm compatibility with 2.2.0.M6.  The only remaining task is to set up a test harness to automate the testing of future versions (possibly just the ITs).

How are the versions for start.spring.io resolved? I see a couple of options to get the _latest_ version,
- Maven version ranges - less accurate, possibly false positives with any intermittent builds
- http request to start.sp

[2019-09-25 15:26] saiyelurimhe opened #141 "error running hosted-login-code-flow: signUpAppId of undefined"
I am trying to run the example hosted-login-code-flow and I see the following error after I Sign-in

`Uncaught TypeError: Cannot read property 'signUpAppId' of undefined`

Application configuration is proper, I can see the `/api/v1/authn` call return 200

[2019-09-25 23:25] bdemers commented on #141
Take a look at this one, it’s a more standalone version of this example
https://github.com/okta/samples-java-spring/tree/master/custom-login

I will through out recommendation to use the Okta Hosted option if/when possible.  It is MUCH less work and will be easier to maintain. You can still customize the login page (and and a custom domain) though your Okta admin dashboard.

[2019-09-27 13:49] saiyelurimhe commented on #141
This is great, Thank You @bdemers

[2019-09-27 13:49] #141 closed

[2019-09-30 13:58] bdemers opened #142 "SDK Client fails to load if `orgUrl` is NOT set and `token` IS set"
The SDK auto config class ONLY checks to if the `token` is set.  This means if the `token` is set and the `orgUrl` is NOT set, the application will fail to initialize.

The auto config class SHOULD check for both properties.

**NOTE:** we may want to attempt to resolve the `orgUrl` property from `issuer` if the `orgUrl` property is NOT set, but this could introduce other edge cases.

[code]

[2019-10-02 14:01] mraible commented on #126
@bdemers FYI... Spring Security 5.2 GA was released yesterday with this feature included.

https://spring.io/blog/2019/10/01/spring-security-5-2-goes-ga

[2019-10-02 16:33] vekdeq commented on #126
Hi Everyone,

Thanks for your help & guidance thus far. I was using RC of spring security 5.2 to resolve the SLO (Single Logout) through LogoutSuccessHandler capabilities, which was clearly not working as required. As a workaround, we build a service in each app to kill session which was called by each app on logout for user visited apps.

vek

[2019-10-03 07:54] snicoll commented on #140
@bdemers sorry for the late reply. I've restored compatibility with SB 2.2+ and I trust you'll setup something in place for future feature release.

Versions of start.spring.io are resolved via a call to https://spring.io/project_metadata/spring-boot

I don't have a general recommendation. My personal preference would be to follow things up and act accordingly. We usually have a new feature releas

[2019-10-03 13:24] bdemers commented on #137
@preiner were you able to get the sys props to work for you?

[2019-10-04 14:12] bdemers commented on #140
Thanks @snicoll!

[2019-10-08 21:56] mraible commented on #132
From the Spring Security [5.2.0 docs](https://docs.spring.io/spring-security/site/docs/5.2.0.RELEASE/reference/htmlsingle/):

I tried the following in `application.properties` with Okta Boot 1.2.1 and Spring Boot 2.2.0.RC1.

[code]

This results in:

[code]

I also tried using Okta properties:

[code]

However, this results in the same error.

[2019-10-10 02:48] joshlong commented on #140
I created a Spring Boot 2.2.0.RC1 app with Kotlin and Okta tonight and it fails to start.

[code]

Any idea how to fix @bdemers? We'd like to use Spring Boot 2.2.0.RC1 in our demo tomorrow at SpringOne.

[2019-10-10 03:03] bdemers commented on #140
Doh!

I'll take a look right now

[2019-10-10 03:15] snicoll commented on #140
Let me know if I can help

[2019-10-10 03:35] joshlong commented on #140
I was able to fix this by excluding the resource server as a dependency.

[code]

BTW, this is @mraible on @joshlong's computer. ;)

[2019-10-10 03:58] bdemers commented on #140
If you have a sec, can you get me a `mvn dependency:tree` ?

[2019-10-10 04:48] bdemers commented on #140
Snippet from japicmp, comparing: org.springframework.security:spring-security-oauth2-resource-server:5.1.6.RELEASE and 5.2.0.RELEASE

![image](https://user-images.githubusercontent.com/99954/66539439-799d2000-eaed-11e9-8c0d-834b6a2e44c0.png)
From: https://github.com/spring-projects/spring-security/commit/3cb09758602484629b06da3c67257c60692d9bb5#diff-ca6c3586180e2510a1de9d7cb0d041ae

**NOTE:** the

[2019-10-10 04:59] bdemers commented on #140
I guess I was thinking about source compatible changes instead of binary-compatible changes: https://wiki.eclipse.org/Evolving_Java-based_APIs_2#Evolving_API_classes_-_API_methods_and_constructors

[2019-10-14 19:20] bdemers commented on #140
@snicoll is it possible to configure a different version of okta-spring-boot-starter with the various versions of Boot: one for 2.1.9, and another with 2.2.x ?

[2019-10-15 06:06] snicoll commented on #140
Yes.

[2019-11-04 12:32] msamm-r7 commented on #136
i have a very similar use case to @jkennedy4 , where i want to add to the authorities during auth.

[2019-11-06 08:53] luupqvinh commented on #136
I have the same problem. I want to provide a custom oidc user service to add some custom authorities by querying a database.

[2019-11-06 21:49] bdemers commented on #136
Anyone watching this issue, I just created a PR with how I've been thinking about solving this. Feedback welcome!

TL;DR:

[code]

(There is still a little bit of cleanup to do on this PR, but I think it _should_ provide an easy way to add custom GrantedAuthorites)

[2019-11-07 17:02] ilamathyIlangovan commented on #137
Hi, I am also facing the same issue. Getting below exception during application startup locally.

Unable to resolve Configuration with the provided Issuer of "https://ssoi-dev.XXX.com/oauth2/YYY": I/O error on GET request for "https://ssoi-dev.XXX.com/oauth2/YYY/.well-known/openid-configuration": ssoi-dev.XXX.com; nested exception is java.net.UnknownHostException: ssoi-dev.XXX.com: Unknown host ss

[2019-11-07 17:14] bdemers commented on #137
Hey @ilamathyIlangovan

Have you set the `https.proxy*` properties?

[2019-11-08 00:33] d8tamgitadmin opened #147 "Cannot load configuration class: com.okta.spring.boot.oauth.OktaOAuth2AutoConfig"
Can not start Spring Boot Application with the following error:

java.lang.IllegalStateException: Cannot load configuration class: com.okta.spring.boot.oauth.OktaOAuth2AutoConfig

`Caused by: java.lang.ClassNotFoundException: org.springframework.security.oauth2.client.oidc.web.logout.OidcClientInitiatedLogoutSuccessHandler
`

[code]

pom.xml for oauth and security:
[code]

Java version is 1.8.

[2019-11-08 02:57] bdemers commented on #147
Which version of spring-bootstrap you using? 2.1?
There was a minor class change incompatibility in spring security between boot 2.1 and 2.2.

If you are on Boot 2.1 use v1.2.x of this lib, otherwise use 1.3.x

I’ll make this more clear in the Readme, assuming that is the problem you are seeing.
Let me know!

[2019-11-08 03:01] ilamathyIlangovan commented on #137
Yes. I have set https properties

On Thu, 7 Nov, 2019, 10:44 PM Brian Demers, <notifications@github.com>
wrote:

[2019-11-08 03:46] bdemers commented on #137
How are you setting them? Are you starting a jar or war?

[2019-11-08 04:56] ilamathyIlangovan commented on #137
I have tried all these options:
1. setting in terminal before mvn spring-boot:run
export HTTP_PROXY=http://proxy.xxx.com:8080
export HTTPS_PROXY=http://proxy.xxx.com:8080
2. In intelliJ > Preference > System Settings > HTTP Proxy> Manual Proxy Configuration
3. In WebSecurityConfig configure() method
       System.setProperty("https.proxyHost", "proxy.xxx.com");
       System.setProperty("https.pro

[2019-11-08 15:06] bdemers commented on #137
Are you sure your https proxy is over port 8080? What type of proxy server are you using?

[2019-11-08 15:38] ilamathyIlangovan commented on #137
Yes... The same configuration is working with okta-jwt-verifier. I am not
aware of the proxy server.

On Fri, 8 Nov, 2019, 8:36 PM Brian Demers, <notifications@github.com> wrote:

[2019-11-11 21:51] dongmei-cao opened #149 "How to handle two issuers"
Per instruction, I need to specify `okta.oauth2.issuer`.  But my resource server needs to allow access_tokens issued from two different authorization servers that I have added in my Okta Org. How do I use this okta-spring-boot starter with two `issuers`

Thanks!

[2019-11-12 14:04] bdemers commented on #149
You may want to use Spring-Security directly.  Support for this was [recently added](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#servlet) in Spring Security 5.2 (Spring Boot 2.2)

Depending on what you are doing, you might be able to use a single Authorisation Server with multiple policies too.

[2019-11-13 09:25] ilamathyIlangovan commented on #137
I am able to set Proxy host using System.setProperty in main method / WebSecurityConfig constructor.
`System.setProperty("https.proxyHost", "proxy.xxx.com");
  System.setProperty("https.proxyPort", "8080");`
WebSecurityConfig configure() method expects system property for the proxy to be set by the time the function is invoked.
Thanks Team.

[2019-11-13 09:45] bdemers commented on #137
Thanks for following up!

[2019-11-13 09:45] #137 closed

[2019-11-15 17:06] EdSingleton commented on #106
This problem can be solved for integration tests by creating a WebSecurityConfigurerAdapter class along with your test classes.  The @Order annotation is necessary to ensure the test WebSecurityConfigurerAdapter has a higher priority than the production implementation.  The default order for WebSecurityConfigurerAdapter is 100, so any value less than 100 will work.

[code]

[2019-12-02 22:35] dcods22 opened #150 "Override User Details Service"
Im looking to override the user details service, our use case is that once a user has logged in we want to add roles from a DB. in other security implementations we override a bean extending a class such as SAMLUserDetailsService and then can catch the user before it goes into SecurityContextHolder so we can access it later.  It looks like you currently create a new instance of the object were loo

[2019-12-03 00:50] bdemers commented on #150
Hey @dcods22! Take a quick look at #146, do you think that would work for you? (if not, please post on that issue and let us know!)

Duplicates: #136
Fixed by: #146

[2019-12-03 00:50] #150 closed

[2019-12-03 01:05] dcods22 commented on #150
Yes that would work for the roles but ideally we would want to add more to the user in the SecurityContextHolder such as specific user details for that specific app that is not held in Okta. This is done in all other authorization implementations I’ve implemented. SAML, LDAP etc. The flexibility of being able to extend that service somehow would be ideal so we can do whatever we need to with the u

[2019-12-03 09:10] gagan-shah opened #151 "Need to track user login and logout event by using event listener, but login and logout event-listener is not working"
We are using OKTA for Oauth2 token based authentication. Below are steps to make connection.

[code]
[code]
Application works properly, but we had to track user login and logout events.
Written implementation classes of LogoutSuccessHandler for logout,
[code]
Configured login and logout event listener in WebSecurityConfig.java
[code]

Problem is that, login and logout event-listener is not working

[2019-12-06 19:35] bdemers commented on #151
I'm guessing this is related to #136
However, the proposed fix (#146) would not solve this issue.

I dig into this a bit more

[2019-12-10 16:13] dcods22 commented on #136
Is there an update as to when this change would be in?

[2019-12-10 18:56] bdemers commented on #136
@dcods22 Can you take a look at #146 ? Would something like that work for you?

(I'm also trying to make sure you can set the UserServices as well)

[2019-12-11 21:12] dcods22 commented on #136
@bdemers Yes that would work.  Like you mentioned setting the user service would be super ideal too and would remove the need for this Authorities providers since you could then just override the user service that could extend off of yours and only override those methods

[2020-01-14 20:58] tai1nguyen opened #153 "Cannot inject scopes into a primitive array or list"
First time posting an issue, please be gentle with me.

I have a spring boot project set up with "spring-boot-starter" v2.2.2 and "okta-spring-boot-starter" v1.3.0

Currently attempting to inject the scopes property into a configuration class but am unable to resolve the placeholder. Looking at how these variables are being resolved I can see that the values for the scopes array are being mapped t

[2020-01-14 23:13] bdemers commented on #153
@tai1nguyen try something like:

[code]

something like this should work too: `-Dokta.oauth2.scopes=profile,openid`

Let us know how it goes!

Though, I would have guessed your example would have worked too

[2020-01-15 14:17] tai1nguyen commented on #153
@bdemers So I looked into it a bit more and this seems to be a quirk with how spring consumes/reads arrays in yaml. I tried you first suggestion and it did not work, however setting it as an environment variable did work. I've also found that if you wrote your array like below it would also work.

application.yml:
[code]

Thanks for the swift response!

[2020-01-15 14:17] #153 closed

[2020-01-15 14:29] bdemers commented on #153
Thanks for following up !

[2020-01-22 15:24] #136 closed

[2020-01-25 10:16] swagatdishri opened #157 "groups not mapped in Granted Authorities: []"
in version okta-spring-boot-starter 2.2.1 groups are mapped to **Granted Authorities: []** but in version 1.3.0 groups are not mapped.
 when i am testing using hasAnyAuthority() getting unauthorized.

how to check the authority in new version,

Thanks

[2020-01-27 20:10] bdemers commented on #157
@swagatdishri thanks for the report, this will be fixed in the next release (due out any day now)

My guess is you can work around this in the current version by setting:
[code]

Going forward we are using the registration id instead of the client name (and we have included a test for this)

[2020-01-27 20:10] #157 closed

[2020-01-30 15:57] bartoszWesolowski commented on #126
Hi Everyone,

I've been trying to implement Oauth2 using Okta. One of the requirements is the logout problem that this issue is about. To achieve that I did few things:
1. Created a filter that on is used for logout request that gets the id_token value and puts it into request attribute.
2. Added this filter before org.springframework.security.web.authentication.logou.LogoutFilter (to be sure that

[2020-01-30 16:03] mraible commented on #126
Spring Security 5.2 has an OidcClientInitiatedLogoutSuccessHandler you might be able to use.

https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#oauth2login-advanced-oidc-logout <https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#oauth2login-advanced-oidc-logout>

There’s an ongoing discussion about making the default postLoginRedirectUri sma

[2020-01-30 17:24] bdemers commented on #126
@bartoszWesolowski I'm not sure why I left this issue open, this was implemented for the `1.3.0` release, just set the property: `okta.oauth2.postLogoutRedirectUri=http://localhost:8080/` and an `OidcClientInitiatedLogoutSuccessHandler` that @mraible mentioned above will be configured automatically for you.

[2020-01-30 17:24] #126 closed

[2020-01-31 06:47] ilamathyIlangovan opened #158 "How to extract claim from Jwt"
Hi Team,

I am using okta spring boot starter in my application. I want to extract a value (userId) from payload(claim) and cache the token with expiry time so that for subsequent request from the same user, jwtToken validation can be skipped.

               ` .addFilterBefore(new JwtRequestFilter(), UsernamePasswordAuthenticationFilter.class)
                  .oauth2ResourceServer().jwt();`

Co

[2020-01-31 15:25] bdemers commented on #158
Hey @ilamathyIlangovan!
Can you explain what you are attempting to do in more detail?  Spring Security provides much of this out of the box.

[2020-02-04 08:33] ilamathyIlangovan commented on #158
Hi @bdemers ,
I am planning to cache jwtToken with userId as key(with expiry time) after successful validation.
Whenever a new request comes from the same user, userId which is part of claims should be extracted from jwtToken and verify wether it exists in the cache. If it exists in cache, .oauth2ResourceServer().jwt() should be skipped.

                 http
                .authorizeRequests().

[2020-02-04 15:43] bdemers commented on #158
@ilamathyIlangovan I'm sorry, I'm still not following what you are asking.
What you are describing is very similar to how Spring Security works out of the box.

Why are you trying to skip the JWT validation? Are you just trying to avoid the cost of validating the JWT?  If so I'd recommend against that.  the `jwt()` operation is local, and it would already be faster than using `opaque()` (which req

[2020-02-05 14:08] ilamathyIlangovan commented on #158
Thanks @bdemers. I was not aware that jwt() is operation is local.
Could you please elaborate on session cookie part?
If possible please share an example. Thanks in advance.

[2020-02-05 14:23] bdemers commented on #158
Ahhhh!
In that case, you _shouldn't_ need to worry about cookies for a resource server, just use the header `Authorization: Bearer <access token>`.

The JWT will be validated locally (and the public key used for validation will be cashed).

It sounds like the default behavior is what you are looking for?

[2020-02-06 04:33] ilamathyIlangovan commented on #158
yes @bdemers . Thats what I was looking for :)
Thanks a lot for the clarification.

[2020-02-06 04:33] #158 closed

[2020-02-06 17:49] bdemers opened #160 "Support AuthoritiesProvider for Resource Server flows (opaque and jwt)"
Currently, the `AuthoritiesProvider` interface only supports authorization code flow and not resource servers.

We should be able to add a new method or two in `AuthoritiesProvider` to support resource servers.

[2020-02-06 17:55] bdemers commented on #160
**NOTE:** As part of this change it should be possible, to lookup and use the `JwtAuthenticationConverter` bean instead of explicitly setting the `OktaJwtAuthenticationConverter`

[2020-03-10 12:41] mikolasz opened #163 "Could not find class [org.springframework.boot.autoconfigure.security.oauth2.resource.servlet.OAuth2ResourceServerAutoConfiguration]"
H Colleaguesi,

I got the following error when I'm trying to execute my application:

[code]

I have these dependencies in my pom.xml:

[code]

Do you have any idea what should I change?

Best Regards,
Laszlo

[2020-03-10 14:07] bdemers commented on #163
What version of the Okta Spring Boot starter are you using?

[2020-03-12 19:24] #140 closed

[2020-03-12 19:25] bdemers opened #164 "Add note about RP-initiated logout to readme"
Details here:
https://github.com/okta/okta-spring-boot/issues/126
https://github.com/okta/okta-spring-boot/releases/tag/okta-spring-boot-parent-1.3.0)

[2020-03-19 14:43] Rajasekharjava opened #165 "An error occurred while attempting to decode the Jwt: The ID Token contains invalid claims: {iat=2020-03-18T18:31:58Z}"
Okta Blocker Analasys:
-----------------------

We developed sample application with spring boot below version. It's not working the code from March first week.

SpringBoot version 2.1.4 /later versions Spring 5.X + Okta spring boot starter 1.0.0, 1.2.0, 1.3.0

Referece: https://developer.okta.com/blog/2019/05/15/spring-boot-login-options

Failed reference log:

[code]

After doing lot of research

[2020-03-19 14:54] bdemers commented on #165
An "Invalid claims" error that references a date field is usually caused by a clock synchronization issue. Can you check your clock sync and try again?

Also, I would recommend using the latest Spring boot version too `2.2.5` and the latest Okta-Spring-Boot-Starter: `1.4.0`

The older versions of this project i.e. `0.6.0` (and older versions of Spring Boot/Security) used a different OAuth library,

[2020-03-19 16:07] Rajasekharjava commented on #165
Yes Even we tried Latest springboot version 2.2.5 and okta springboot starter 1.4.0
same issue is occurred.
 clock synchronization issue. Can you check your clock sync and try again?
   We will not change any logic to integrate with okta right
As of my knowledge we need to add okta springboot starter dependency and add client id and client secret and issuer uri in the application.properties file
<

[2020-03-19 16:08] Rajasekharjava commented on #165
These are the three properties we need to add in application.properties
okta.oauth2.client-id=******
okta.oauth2.client-secret=******
okta.oauth2.issuer=*******

[2020-03-19 16:22] bdemers commented on #165
@Rajasekharjava the error you indicated:
[code]
Is a JWT validation error, usually this indicates that the system clock on your server Is off.
`iat` - Issued At, my guess is your clock is behind this date.

Which NTP servers are you currently using?

[2020-03-19 16:52] Rajasekharjava commented on #165
Yeah Got it @bdemers .Thank you

[2020-03-19 16:54] #165 closed

[2020-03-19 16:55] Rajasekharjava commented on #165
Thank you @bdemers

[2020-03-20 05:14] Rajasekharjava opened #166 "Can We integrate Spring 5 with okta"
We have a legacy spring application .As per client Request we need to integrate with okta.
Could you please suggest how we need to meet the requirement?

[2020-03-20 12:00] bdemers commented on #166
It depends how “legacy” we are talking ;)
Spring Security has had OAuth2 for a while now (though it’s much more complete in current versions).

One of the easiest options for legacy apps though is using Spring Gateway: https://developer.okta.com/blog/2020/01/08/secure-legacy-spring-cloud-gateway

Keep us posted!

[2020-04-01 15:03] Rajasekharjava opened #167 "How to log out okta session using spring secuirty"
I have tried so many directions to clear the okta session but it didn't .could you please suggest me how we can do that. if I call SecurityContextHolder.clearContext() method is just clearing the spring security session but okta sid and Jsession is not.
Could you please help me out on this.

[2020-04-01 15:05] Rajasekharjava commented on #166
ok Thanks @bdemers

[2020-04-01 15:06] #166 closed

[2020-04-01 16:53] arvindkrishnakumar-okta commented on #167
@Rajasekharjava - You might want to take a look at https://developer.okta.com/blog/2020/03/27/spring-oidc-logout-options and see if it helps?

[2020-04-02 10:29] Rajasekharjava commented on #167
We have gone through this blog previously.But We are using legacy spring application and also we are giving provision to indiavidual application login as well as okta login .In both cases we need to log out the both sessions.so thats why we are facing issue .if it is a one direct okta login option
above blog will be good enough to implement log out functionality .so any way thanks for help

[2020-04-02 10:30] #167 closed

[2020-04-02 10:31] Rajasekharjava commented on #167
Thanks arvindkrishnakumar-okta

[2020-04-02 17:39] bdemers commented on #167
@Rajasekharjava Logout is an OIDC specific feature, previous versions of Spring Security (<5) didn't have support for OIDC.

[2020-04-07 11:44] Shubham6542 commented on #104
But I want to validate id_token in that case I need to /introspect and it is not working in spring boot.

[2020-04-07 13:42] bdemers commented on #104
@Shubham6542 can you explain what you mean by this?

[2020-04-07 19:11] Shubham6542 commented on #104
@bdemers I have id token which i got form okta org authorization server. I want to validate it in my resource server side which is a spring boot application. Since, this token does not belongs to custom authorization server. So, i can't be able to validate it locally. Therefore, I am using /introspect endpoint to validate this.

My application.properties:
security.oauth2.client.clientId=0oa57fbt3r

[2020-04-07 19:15] bdemers commented on #104
@Shubham6542 you probably _shouldn't_ be using the ID Token, but instead use the Access Token.

Ideally, you want to switch to using the newer Spring's newer OAuth library:
https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Migration-Guide

This project just sits on top of that, but you can use it directly as well)

[2020-04-07 19:20] Shubham6542 commented on #104
@bdemers  Thanx. Actually, I am using Okta org authorization server. So, to get group claims, I need id token. I can't get group claim in access token. So, I need to validate id token in my spring boot application.

[2020-04-07 19:48] bdemers commented on #104
@Shubham6542 you can configure your authorization server to return the group claim for access tokens too.

[2020-04-08 02:32] Shubham6542 commented on #104
@bdemers  It is mentioned here, that with okta org authorization server we can get group claims in id  token only not in access token. https://developer.okta.com/docs/guides/customize-tokens-returned-from-okta/add-groups-claim-org-as/?_ga=2.74315794.1638779181.1585571176-127904233.1581954447

Now , my question is how can i validate this id_token in spring boot resource side using introspect?
I don

[2020-04-08 15:12] bdemers commented on #104
Sorry @Shubham6542 I was thinking of the non-okta-org use cases.

Let's take a step back, your SPA should be sending the access token to your backend in a `Authorization: Bearer <access_token>` header.

You can use Spring Security directly configured for opaque tokens. IIRC, you can handle the response similar to what is done here for JWT tokens: https://github.com/jhipster/jhipster-sample-app-oau

[2020-04-15 16:19] konda007 opened #168 "Validate Client ID for Angular UI to Spring boot resource server"
Hi,

I have a scenario to Validate Client ID for Angular UI to Spring boot resource server. The token would be generated from UI and passing to API request, here the JWT token being validated against Issuer and Audience, but not client id. So the request may be successful for any valid JWT token. I want to enforce to validate client id as well.
 I have added client id in application.properties, bu

[2020-04-28 18:49] dcoraboeuf opened #170 "authorizationUri cannot be empty (Spring Boot 2.3.0.M4)"
Hi,

I'm using:

* Spring Boot 2.3.0.M4
* Okta Boot Starter 1.4.0
* JDK11

I've declared the following configuration in `application.yml`:

[code]

In my web security config:

[code]

and the application cannot start because of:

[code]

Any idea on the root cause of this error? I've followed the guidelines at https://github.com/okta/okta-spring-boot#supporting-server-side-applications---oauth-cod

[2020-04-28 18:53] mraible commented on #170
It looks like you misspelled `issuer` in your YAML configuration.

[2020-04-28 19:15] dcoraboeuf commented on #170
OMG 😊 The longer I spend on an issue, the more stupid the root cause is...

Sorry about this then, and thanks for the typo correction

Best regards,
Damien

[2020-04-28 19:15] #170 closed

[2020-05-13 14:27] bdemers commented on #168
Sorry for the late reply @konda007.
JWT access token validation is vendor-specific, Okta recommends validating the issuer and audience claims. In this case your "audience" value should be unique to your application.

That said, since it's just a JWT, you can validate additional claims, just provide a `JwtDecoder` Bean, similar to:

https://github.com/okta/okta-spring-boot/blob/0fab5771d56b4f653ee4

[2020-05-13 14:27] #168 closed

[2020-05-13 16:58] Stillglade opened #171 "OIDC Properties static discovery not always correct"
The `OktaOAuth2PropertiesMappingEnvironmentPostProcessor` assumes that the Okta endpoints can be derived from the issuer URL, but this hardcoded assumption is incorrect.  In my org, the Okta `https://<myorg>.oktapreview.com/.well-known/openid-configuration` contains this:

[code]

Notice how the issuer uri is at the root of the domain, whereas the other uris have a "/oauth2" prefix.

[2020-05-13 17:25] bdemers commented on #171
Thanks @Stillglade!
Supporting the root org issuer is on the roadmap. Currently, you can either use a "Custom Authorization Server", for example, new Okta Developer accounts are provisioned with one named `default`.

You can also use Spring Security out of the box to support this type of issuer.  Just note, that the root org does NOT support JWT access tokens (this may not matter depending on what

[2020-05-13 19:25] Stillglade commented on #171
I am attempting to setup an API as a resource server that takes in a JWT OIDC token established within an Angular app.  In our Org, we are using Active Directory with an agent.

[2020-05-13 19:37] bdemers commented on #171
Ahh, I see, you have two options:

1.) Validate the token remotely (OAuth access tokens are opaque strings per the spec, it just happens that many shops use JWTs).  The root Org tokens cannot be validated locally as a JWT (even though the string is structured that way).  (Spring Security has support for `opaque` tokens)

2.) Create a "custom authorization server", and validate the JWT locally in y

[2020-05-13 20:13] Stillglade commented on #171
I am attempting to validate remotely.  I added `spring-boot-starter-oauth2-resource-server` as a dependency and have configured my root issuer uri as the value for `spring.security.oauth2.resourceserver.jwt.issuer-uri`.  Interstingly, if I take the incoming Authorization header and use it to hit the `<myorg>.oktapreview.com/oauth2/v1/keys` or `<myorg>.oktapreview.com/oauth2/v1/userinfo` and I can

[2020-05-13 20:17] bdemers commented on #171
Spring Security doesn't print much in the logs by default (for good reason), but if you turn up the level it should help resolve your 401

[2020-05-14 17:18] Stillglade commented on #171
In case someone else stumbles upon this, this was a very useful page for understanding the issue: https://support.okta.com/help/s/article/Signature-Validation-Failed-on-Access-Token

[2020-05-21 21:36] jasonrberk commented on #132
I am also having issues using Okta spring boot v1.2.1 with boot 2.1.4.RELEASE.  I have no `client-secret`.  My UI is using PKCE and I have a client ID and issuer

[2020-05-21 21:38] jasonrberk commented on #147
please update the readme...this seems wrong:

[2020-05-22 03:34] bdemers commented on #147
Hey @jasonrberk!
You are correct, I pushed a PR to get that updated.  Thanks for the heads up!

[2020-05-22 03:40] bdemers commented on #132
Hey @jasonrberk!
I think Matt might have mentioned this on another thread, but you don't need PKCE support for resource servers, you would only use PKCE where you are getting the token.  Once you have the token you just send it to your resource server in a header `Authorization: Bearer <your-access-token>`

[2020-05-22 03:46] jasonrberk commented on #132
Yes, this is what I'm doing and my resource server is still 401ing me.  In
my JS app I'm getting a token as I expected....  I just can't seem to get
the okta starter to validate the token.

On Thu, May 21, 2020, 11:40 PM Brian Demers <notifications@github.com>
wrote:

[2020-05-22 04:32] bdemers commented on #132
I'd suggest isolating the front end vs the backend.

Can you access your resource server using curl/httpie? If that fails in the same way. My next suggestion is to turn up the logging in your spring boot app.  Spring Security by default doesn't log much (for good reason), setting the root log level to `DEBUG` is a pretty verbose, but it's helped me figure out these types of issues.

My next sugges

[2020-05-22 14:09] jasonrberk commented on #132
[code]

[2020-05-22 14:59] jasonrberk commented on #132
spring security debug logs show this error:

Authentication request for failed: org.springframework.security.oauth2.core.OAuth2AuthenticationException: An error occurred while attempting to decode the Jwt: Couldn't retrieve remote JWK set: org.springframework.web.client.HttpClientErrorException$NotFound: 404 Not Found

[2020-05-22 18:02] bdemers commented on #132
Ahh, the issuer is the problem. This type of toke is from the root Okta issuer, and cannot be validated as a JWT (even though it is formatted as one).  You need to use one formatted as I mentioned above.

Access tokens are opaque strings per the OAuth spec, and are validated remotely.  You can do this with Spring Boot/Security out of the box (without the Okta Starter), by configuring the resource

[2020-05-22 18:05] jasonrberk commented on #132
I found this

https://support.okta.com/help/s/article/Difference-Between-Okta-as-An-Authorization-Server-vs-Custom-Authorization-Server

On Fri, May 22, 2020, 2:02 PM Brian Demers <notifications@github.com> wrote:

[2020-05-22 18:38] jasonrberk commented on #132
I want my API (resource server) to only allow requests from callers that have an access token issued by okta specifically to users of my SPA.

sounds like I need to create users and groups in Okta, and an "application"....tie these altogether and setup an Auth Server that is tied to the client ID of my app.

the key for me, is that ONLY the users who authenticate with Okta for MY CLIENT should be

[2020-05-22 21:15] bdemers commented on #132
Yes, using a custom Authorization Server fils this exact use case.  My suggestion would be to create an Auth server and set the “audience” to something specifics for your app, then configure this starter to validate against that.

[2020-06-06 12:54] jasonrberk commented on #132
@bdemers can you help me with https://stackoverflow.com/questions/62227762/spring-security-filter-issues.  It appears as if the filter created by the okta starter is being greedy

[2020-06-29 12:51] jevanlingen commented on #136
#164 added the authoritiesProviders to `OktaOidcUserService` and `OktaOAuth2UserService` classes. I am missing something, or should it also be added to `OktaJwtAuthenticationConverter` class as well? I got a JWT token, but once it is validated it does not seem to cross the services, so I cannot set my own authorities.

[2020-06-29 14:27] bdemers commented on #136
@jevanlingen +1
Let's move this conversation over to #160

[2020-07-01 02:08] jpgilchrist opened #173 "Correct the classpath of your application so that it contains a single, compatible version of org.springframework.security.oauth2.server.resource.authentication.ReactiveJwtAuthenticationConverterAdapter"
I've been bouncing around between examples/documentation for okta spring boot starter and have hit a wall. I also tried playing around with spring versions to see if there was a discrepancy, and tried 2.2.RELEASE instead of 2.3.1.RELEASE. I've all, but copied the examples from okta developer blogs. https://developer.okta.com/blog/2019/08/28/reactive-microservices-spring-cloud-gateway

I apologize

[2020-07-01 02:31] jpgilchrist commented on #173
Debugging the sources, I see

[code]

and inspecting `OktaJwtAuthenticationConverter` constructor, find `OktaJwtAuthenticationConverter extends JwtAuthenticationConverter` and further `JwtAuthenticationConverter implements Converter<Jwt, AbstractAuthenticationToken>`.

However, `ReactiveJwtAuthenticationConverterAdapter implements Converter<Jwt, Mono<AbstractAuthenticationToken>>`

Is it a problem

[2020-07-01 02:43] jpgilchrist commented on #173
Well crap, I didn't see 1.4.0 of okta-starter. My bad.

[2020-07-01 02:43] #173 closed

[2020-07-01 16:57] bdemers commented on #173
@jpgilchrist no worries!
I remember bashing my keyboard trying to track that one down :)

[2020-07-16 18:46] #164 closed

[2020-07-20 19:06] bdemers opened #175 "Ensure all `okta.oauth` properties all use of kabob case"
There is a conditional on the property: `okta.oauth2.postLogoutRedirectUri`
This should likely be `okta.oauth2.post-logout-redirect-uri` and this would allow for both kabob and camel cases to be used in configuration files.

We need to double-check our other configuration properties too.

NOTE: kabob case is recommended by Spring, and type completion will default to this format, which may lead to

[2020-07-21 19:24] bdemers opened #176 "Update to Okta SDK v2"
This is an _indirect_ breaking change and will require a major version bump

[2020-08-12 16:52] mraible opened #178 "Add Spring MVC Resource Server example to README"
The README contains a login and resource server example for Spring WebFlux, but not for Spring MVC.

I did find [this example in our documentation](https://developer.okta.com/quickstart-fragments/java/spring-implicit/):

[code]

NOTE: The docs page says to use Spring Boot Starter 1.3.0. It should be updated to use the lastest version.

[2020-09-07 00:17] jhullse opened #181 "Should I use OidcUser or Principal?"
Hi everyone,

I'm implementing a SPA that authenticates the user using Okta Authorization Code flow. Everything works fine and I get the access token by the end.

In the API side I'm using okta-spring-boot (**version 1.4.0**) to verify the token and allow the user to use the resource server with the token received before. I followed the [Supporting client side applications - OAuth Implicit flow](h

[2020-09-08 16:59] arvindkrishnakumar-okta commented on #181
@jhullse Thanks for your question!

Are you using your own custom Authorization/resource server? Can you share the server side configuration?

Ideally you should be able to inject `OidcUser` if your `oauth2Login()` client is configured with an OIDC provider.

[2020-09-08 17:38] jhullse commented on #181
@arvindkrishnakumar-okta The configuration looks the same as the [Supporting client side applications - OAuth Implicit flow](https://github.com/okta/okta-spring-boot#supporting-client-side-applications---oauth-implicit-flow) guide. There is no custom authorization server, the API is only a resource server that verifies the token in order to allow or deny user access.

[code]

[2020-09-09 06:32] arvindkrishnakumar-okta commented on #181
@jhullse Thanks for the response!

You might want to take a look at a similar question that is already answered at https://devforum.okta.com/t/authenticationprincipal-is-null-only-with-postman-request/8850/2.

[2020-09-09 17:54] bdemers commented on #181
@jhullse

If your API is only accessed as a resource server you could inject a `JwtAuthenticationToken` for example:

https://github.com/okta/samples-java-spring/blob/master/resource-server/src/main/java/com/okta/spring/example/ResourceServerExampleApplication.java#L53

(Depending on the type of information you want)

[2020-09-09 18:01] jhullse commented on #181
In that case it seems OidcUser won't be available the way it is configured.

I'll try to use the alternatives you provided.

Thank you all.

[2020-09-09 18:01] #181 closed

[2020-09-10 04:16] #163 closed

[2020-09-10 04:16] arvindkrishnakumar-okta commented on #163
Feel free to reopen if still an issue.

[2020-09-10 20:47] mraible opened #186 "Quickstart link is confusing"
The second sentence of this repo's README says:

The quickstart link takes you to a docs page that shows you how to get started with Angular. Also, there's no mention of curl, except for testing.

It might be better to show a quickstart, rather than to link to one. For example:

[code]

[2020-09-10 21:52] bdemers commented on #186
+1,
That doc page changed, it previously selected an angular front end and a Java backend. And we never updated the README.

💯 for your suggestion!!

[2020-09-11 12:58] RobMaskell opened #187 "Okta custom domain not working"
I had my app working with the okta dev domain but as I wanted to customise the login pages I need to make it work with a custom domain so I set that up and I'm getting the following error
[code]
I'tried to load the `.well-known` info and it only lists my custom domain so I'm stuck

[2020-09-11 15:11] bretterer commented on #187
@RobMaskell Based on that error you showed, it seems that after updating to custom domain, you need to also change your configuration to reflect the new custom domain.

Do you have anywhere in your configuration `dev-XXXXXX.okta.com` still?  If you update your configuration with `auth.shimoturin.site` anywhere you still have `dev-XXXXXX-okta.com` does this resolve your error?

[2020-09-11 15:12] bdemers commented on #187
In your Okta Developer Console, click on the menu **API** -> **Authorization Servers**
(if using the "Classic UI" its **Security** -> **API**)

Then edit your Authorization server, on the **Settings** tab, change the **Issuer** dropdown to your custom domain
This will change the OIDC discovery metadata and the issuer listed in any generated tokens to be your custom domain.

Let me know if that hel

[2020-09-11 16:01] RobMaskell commented on #187
Yup it was the Security -> API setting. Thanks for that. I'd found the OIDC token config on the Application and thought I'd found them all :(

[2020-09-11 16:01] #187 closed

[2020-09-11 16:04] bdemers commented on #187
Thanks for the follow up @RobMaskell! Glad we could help!

[2020-09-16 19:18] mraible opened #188 "Add proxy information to README"
If there's documentation in the README for how to run with a proxy, it'll be easier to answer [questions like this one](https://stackoverflow.com/questions/63913936/proxy-for-spring-security-for-react-oidc).

[2020-09-17 01:10] andrewchang0824 opened #189 "Unable to validate Access Tokens with HS256 signature"
Hi all:

We just upgrade okta-sprint-boot-starter version from 0.6.1 to 1.4.0, but the access token sent from front end is evaluated as 'Invalid access token'. In our micro service developed by Spring Boot, we utilized okta-sprint-boot-starter in resource server (created by Spring Security) to evaluate access token sent from front end/postman. The access token is retrieved from a Okta issuer and a

[2020-09-17 18:22] arvindkrishnakumar-okta commented on #189
@andrewchang0824 Couple of things:

- You might want to check this out - https://devforum.okta.com/t/invalid-access-token-when-calling-oauth2-protected-rest-end-point-spring/2614/2
- Is there any clock skew in your server? We recommend syncing with internet time.
- Is your client behind a corporate network / VPN / firewall?

[2020-09-17 23:42] andrewchang0824 commented on #189
@arvindkrishnakumar-okta

Thank you for the reply.
- I checked https://devforum.okta.com/t/invalid-access-token-when-calling-oauth2-protected-rest-end-point-spring/2614/2, and each item all look good to us.
- The application is running on EKS, so I do believe it syncs with internet time.
- Outgoing rules allow all traffic.
-  okta.oauth2.issuer = https://facdev.okta.com/oauth2/aus1eplutqs85yoej1d8

[2020-09-18 00:13] arvindkrishnakumar-okta commented on #189
@andrewchang0824 can you paste the full error you got from okta-spring-boot-starter?

[2020-09-18 00:20] andrewchang0824 commented on #189
@arvindkrishnakumar-okta

I'd like to provide 1 more info.
1. I grabbed a access token (XXXXXXX) from front end Angular application and put in postman as Bearer token to access following micro service end point -

2. Then

       {
    "error": "invalid_token",
    "error_description": "Invalid access token: XXXXXXX"
}

I would like to emphasize, with the same access token sent to 2 different micr

[2020-09-18 00:36] arvindkrishnakumar-okta commented on #189
@andrewchang0824 I cannot see the full error above. And yes, there is difference in the way access token is validated by the okta-spring-boot-starter because of the way Spring security has evolved (okta-spring-boot-starter uses Spring boot security under the hood).

[2020-09-18 00:57] bdemers commented on #189
@andrewchang0824 Spring Security doesn't log authentication errors by default (as that would create log spam)
You can however increase the logging to DEBUG for `com.springframework.security` and you should start seeing the authentication exceptions in your logs.

One thing to check is make sure your Audience is set to `api://default` for your custom authorization server: `https://facdev.okta.com/o

[2020-09-18 17:03] satishrao84 commented on #116
Any updates on this? I am experiencing the exact same issue behind proxy.

[2020-09-18 17:10] satishrao84 commented on #116
@ashebby were you able to get this resolved?

[2020-09-18 18:09] andrewchang0824 commented on #189
@bdemers

Following are the log from com.springframework.security -
2020-09-18 18:01:51.063 DEBUG 21 --- [nio-8080-exec-1] s.s.w.c.SecurityContextPersistenceFilter : SecurityContextHolder now cleared, as request processing completed
2020-09-18 18:01:51.067 DEBUG 21 --- [nio-8080-exec-9] o.s.security.web.FilterChainProxy        : /tenants?size=10&page=0 at position 1 of 13 in additional filter chai

[2020-09-18 18:37] andrewchang0824 commented on #189
@arvindkrishnakumar-okta

The full error, which is sent from the micro service (where okta-spring-boot-starter is located), is -
{"error":"invalid_token","error_description":"Invalid access token: eyJraWQiOiJzZ3I5Q2tmZmhyTVphSml4bEljc1ZTcC1VdUUtODdKMXVULS0tSjBWUGJVIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULksxX0xTT1VYOHlXS3cyU19tUm1GWE44dXNrUzQ5WUo0ZUpTWUhoa25GT1EiLCJpc3MiOiJodHRwczovL2ZhY2Rl

[2020-09-18 21:07] bdemers commented on #189
Re: the audience, the default configuration in the Okta Spring Boot Start is `okta.oauth2.audience=api://default`, so as long as you didn't change it.  You can set this value to anything you like, just make sure it's the same on both ends.

I think the issue is the JWT access token has a HS256 signature instead of an RSA256 signature, how are you requesting an access token?

[2020-09-21 18:46] andrewchang0824 commented on #189
@bdemers
In Agular code, we assign config to a OktaAuthService instance (provided by Okta Angular library) including -

1. clientId
2. issuer
3. redirectUri
4. scope
5. responseType

Then use built-in method  - getAccessToken to get the access token.

I assume the access token we got from Okta server is RSA256 signature as I decoded the access token and the field
{"alg": "RS256"} in the payload.

[2020-09-21 18:56] mraible opened #192 "Okta Spring Boot starter doesn't work with GraalVM"
Steps to reproduce:

Create a new Spring Boot app using [HTTPie](https://httpie.org):

[code]

Then, add a `HelloController`:

[code]

Configure it to be an OAuth 2.0 resource server by adding an issuer to `application.properties`:

[code]

All the following should work at this point (I got an access token from oidcdebugger.com):

[code]

To add "build native image support", I followed [these docs

[2020-09-21 21:07] bdemers commented on #189
I'm sorry @andrewchang0824, my comment about `HS256` as incorrect.  I might have had a cut/paste error with the token you added to this issue.  It's RS256, I feel like I'm hindering this conversation more than helping.

Any chance you can create a small sample project(s) that I can reproduce the issue?

[2020-09-21 23:46] mraible commented on #192
I tried to switch to Spring Security's dependencies and configuration as a workaround. I replaced the Okta Spring Boot starter with:

[code]

And I changed `application.properties` to use Spring Security's key:

[code]

I can run everything just fine with `mvn spring-boot:run`. It builds with GraalVM too. However, when I try to run it, I get:

[code]

Any ideas @jgrandja?

[2020-09-22 01:24] mraible commented on #192
I tried using the `full` builder as [documented here](https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs/0.8.0/spring-graalvm-native-docs-0.8.0.zip!/reference/index.html#_configure_the_maven_plugin).

[code]

Unfortunately, the same error still happens.

[2020-09-22 01:26] mraible commented on #192
Hmmm, the [paketobuildpacks/builder](https://github.com/paketo-buildpacks/builder) repo says it's `full-cf` instead of `full`. Trying... (will update this comment with results so I don't keep spamming y'all).

[2020-09-22 03:10] mraible commented on #192
It seems [I might need to pass in `--enable-https` as part of the build](https://www.graalvm.org/reference-manual/native-image/JCASecurityServices/). I tried this:

[code]

And it got me a bit further! Now I get:

[code]

I'll try downgrading.

[2020-09-22 14:40] bdemers commented on #192
I'm not sure on the exact overlap between running graal native image directly or via the Spring plugin (i'm guessing they are similar).
But these are the options I needed to enable for the Okta CLI:
https://github.com/oktadeveloper/okta-cli/blob/master/cli/pom.xml#L205-L211

It's a much different use case though, and I remember pulling out my hair to get things working originally.
(NOTE: I'm only

[2020-09-28 17:56] arvindkrishnakumar-okta commented on #188
Fixed.

[2020-09-28 17:56] #188 closed

[2020-09-28 18:44] arvindkrishnakumar-okta commented on #186
Fixed.

[2020-09-28 18:44] #186 closed

[2020-09-28 18:51] mraible opened #197 "Update "What you need section" in README"
Currently has:

* An Okta account (sign up for a [forever-free developer account](https://developer.okta.com/signup/))
* An OIDC application (typically a 'SPA' application)
* An [access token](https://developer.okta.com/docs/api/resources/oauth2.html)

Bullet #2 should say a "Web" app, not SPA. The access token link redirects to https://developer.okta.com/docs/reference/api/oidc/, which doesn't re

[2020-09-30 20:25] mraible commented on #192
It looks like this will be fixed in Spring GraalVM Native 0.9.0, which is scheduled for December 18, 2020.

https://twitter.com/sdeleuze/status/1309491871769595904

[2020-10-01 00:30] robertjd commented on #197
PR is open for the typo (#199)

For the access token link, i guess this is mean to be a clue that you need an access token for this part of the guide:

If so, it seems we should have an easy way for someone to get that access token.  Basically walking through the enduser `/authorize` flow.  I took a look and I don't think we have [a guide](https://developer.okta.com/docs/guides/) for this (@jakubv

[2020-10-01 18:29] robertjd commented on #197
The guide I was looking for is here: https://developer.okta.com/docs/guides/implement-implicit/use-flow/

So it seems like we should link to that for now

[2020-10-02 10:07] shar-kumar opened #200 "After deploying to AWS /Azure the resource url doesn't work"
Downloaded source code from Git for okta-spring-boot-deploy-master project and deployed successfully on to AWS BeanStalk and Azure. But the URL does not work on browser. Always throws 400 error. Anyhelp is appreciated

[2020-10-02 13:36] sorin-costea commented on #176
Any timeline for this? Thank you!

[2020-10-02 16:20] arvindkrishnakumar-okta commented on #176
@sorin-costea Thanks for checking. It is definitely a priority item on our list of deliverables. Expect it to be released in the next week or so.

[2020-10-02 16:22] arvindkrishnakumar-okta commented on #200
@shar-kumar Can you tell us more? Which URL are you talking about and give us more details on the environment and steps to reproduce if possible?

[2020-10-02 16:31] bdemers commented on #200
@shar-kumar We would need more details to help, you but without any context here are a few things to try:

1.) Always use HTTPS: https://developer.okta.com/docs/guides/deploy-your-app/java/#forcing-https
(this will make sure your redirect URIs are always correct, and you should always be using https anyway)

2.) Make sure you update your OIDC application's `redirectURIs` for your production deploy

[2020-10-04 04:16] shar-kumar commented on #200
hello @arvindkrishnakumar-okta and @bdemers thank you for responding!
I just downloaded source code from okta git repository and tried the example.
was able to deploy successfully to AWS cloud and Azure cloud. But when I try the uri on web page to run the application I was getting 400 error. In Okta login redirect  URI: https://<my-app-name>.azurewebsites.net/login/oauth2/code/okta and tried on br

[2020-10-04 06:00] bdemers commented on #200
@shar-kumar can you grab the URL of that Okta 400 page and paste it in this issue?

[2020-10-04 06:10] shar-kumar commented on #200
https://dev-841535.okta.com/oauth2/default/v1/authorize?response_type=code&client_id=0oa12ux3icOIBhEYL4x7&scope=openid%20profile%20email%20address%20phone%20offline_access&state=qt3cqRJpWhxSnZDcoXiY2bY5ol8mnAW5pQzcBmk_r50%3D&redirect_uri=http://sharapp-env.eba-5wi28wgz.us-east-2.elasticbeanstalk.com/login/oauth2/code/okta&nonce=v7Ep7HfUVFsm3uNaGyFwFD-U-t0JxL4N9Im1smGG3ys

[2020-10-05 00:31] bdemers commented on #200
Your system is reporting the following DNS URL:
`http://sharapp-env.eba-5wi28wgz.us-east-2.elasticbeanstalk.com/login/oauth2/code/okta`

This would need to be your RedirectURI.  Once you have this working you will likely want to set up a constant DNS name, and HTTPS.

[2020-10-05 02:21] shar-kumar commented on #200
Thank you! after trying so many times. Some how I used incorrect URI. Thank you so much once again!
problem is solved and now I can see the greetings webpage.

[2020-10-05 04:30] #200 closed

[2020-10-06 04:57] #147 closed

[2020-10-06 04:58] #135 closed

[2020-10-06 04:58] #133 closed

[2020-10-06 20:30] car51901 opened #203 "Proxy configuration not working on Spring Boot 2.2x, Spring Security 5.2.x, Okta-spring-boot-starter 1.3.x"
I am configuring a REST app as a resource server. I have integration with Okta working for a POC REST app, using Spring Boot 2.0.5 (w spring security 5.0.8), okta-spring-boot-starter 0.6.0, and spring-security-oauth2-autoconfigure 2.0.5. That’s what your example article is using, and I can get an access token from my okta developer auth service, and authenticate to the REST app with it, and everyt

[2020-10-06 20:30] car51901 commented on #203
related issue/thread on Spring Security
https://github.com/spring-projects/spring-security/issues/7027

[2020-10-06 22:20] arvindkrishnakumar-okta commented on #203
@car51901 Thanks for the question!

Spring Security's built-in `RestTemplate` would respect JVM proxy settings set via  '-Dhttps.proxyHost' and '-Dhttps.proxyPort' (refer https://github.com/okta/okta-spring-boot#proxy). This setup should work fine unless you
are using Spring Cloud Gateway/Spring Webflux or Reactive/Netty Webclient in your project ([known limitation](https://github.com/reactor/reac

[2020-10-06 22:29] arvindkrishnakumar-okta commented on #203
Related Issue: https://github.com/spring-projects/spring-security/issues/9101

[2020-10-06 22:51] car51901 commented on #203
Well, but it doesn't, i have a POC spring boot app I could zip and give you, that fails to honor the proxy config.  It could also be the Okta userService class that extends DefaultOAuth2UserService.   I could also have something setup wrong.  Let me review/read through the comments on the #8882 issue, and see if I can get that to work first.

[2020-10-06 23:15] arvindkrishnakumar-okta commented on #203
@car51901 sure, keep us posted!

[2020-10-08 00:23] car51901 commented on #203
created security config , via suggestion from spring security, 9101.
couple of things i've run into:

- I can't instantiate the okta classes, e.g. OktaOidcUserService, most of them are final, with default access (package protected) so I don't have access to them. So having to use the Spring Security classes and properties, I can't use the okta extensions.  just found your okta property mapping cla

[2020-10-08 00:25] car51901 commented on #203
closed by mistake, reopened

[2020-10-08 16:40] arvindkrishnakumar-okta commented on #203
@car51901 I did analyze this and was able to reproduce this issue. Will create an internal ticket to add a workaround in our SDK to support Proxy.

Meanwhile, any luck with the recommendations at https://github.com/spring-projects/spring-security/issues/8882#user-content-client-registrations?

[2020-10-08 22:16] mraible opened #205 "Add Okta Maven Plugin to generated pom.xml on start.spring.io"
I don't know if it's possible, but it'd be cool if we could add the [Okta Maven Plugin](https://github.com/oktadeveloper/okta-maven-plugin) to the app's `pom.xml` when Okta is selected. Then, users could run easier-to-remember commands. For example:

[code]

[2020-10-08 23:40] car51901 commented on #203
@arvindkrishnakumar-okta

no and yes.  added the security config from #8882, but request is failing with "Invalid CSRF token found for http://127.0.0.1:8080/api/...."  even though disabled it in the configure method, e.g.

` http.csrf().disable()
                .authorizeRequests(authorizeRequests -> authorizeRequests.anyRequest().authenticated())
                .oauth2Login(oauth2Login -> oauth

[2020-10-09 07:52] arvindkrishnakumar-okta commented on #205
Ack, will research.

[2020-10-13 04:17] #149 closed

[2020-10-13 04:18] arvindkrishnakumar-okta commented on #149
Feel free to reopen if further discussion is still needed.

[2020-10-13 04:25] arvindkrishnakumar-okta commented on #116
@satishrao84 @ashebby Did you try the above recommendation from @bdemers?

Please try with plugin config like:

` <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
                <configuration>
                    <mainClass>yourMainClass</mainClass>
                    <executable>true</executable>

[2020-10-14 11:50] smilani commented on #176
Do we have now a timeline ? It's now 2 weeks already since the last comment.

[2020-10-14 15:50] arvindkrishnakumar-okta commented on #176
@smilani Thanks for checking! We're on it, stay tuned!

[2020-10-14 15:50] #197 closed

[2020-10-14 23:52] #178 closed

[2020-10-25 13:11] christiangoudreau commented on #176
I'm also really eager to see that coming!

[2020-11-03 17:28] adamcraftc opened #211 "Issue Upgrading Spring Boot, Spring Cloud, and Okta Spring Boot Starter"
### Details:
We are using a Spring Boot application to validate PKCE tokens using the okta-spring-boot-starter SDK. If we upgrade to the latest Spring Boot, Spring Cloud, and Okta Spring Boot Starter versions, then we constantly get “Invalid Token” back.

**Working scenario:**
[code]

**Failing scenario (Preferred to Upgrade to):**
[code]

**DEBUG LOG:**
[code]

[2020-11-03 17:54] arvindkrishnakumar-okta commented on #211
@adamcraftc Thanks for reaching out!

To help me understand more, can you please tell me how you obtain the access token?

[2020-11-03 19:52] adamcraftc commented on #211
@arvindkrishnakumar-okta We have our UI configured using the Okta Single Sign On widget for PKCE which calls directly to Okta to retrieve the token. This is the token that we are trying to authenticate on the backend application for API calls.

[2020-11-04 05:27] arvindkrishnakumar-okta commented on #211
@adamcraftc There are a lot of major changes introduced between 0.6.1 -> 1.4.0. I need to look at your back-end application configuration (especially how you have configured your token validation). Can you provide more info on this?

[2020-11-04 20:45] bdemers commented on #211
Hey @adamcraftc
With the info at hand, I cannot spot the problem, I know there were a few things that changed between versions of Spring Security (specifically the OAuth module was re-written).  The Okta Spring Boot Starter just sits on top of Spring Security.
Because of this, there were some changes to Spring Cloud Gateway, I'm not sure if those effected Zuul or not.

Can you create a simplified

[2020-11-05 14:30] adamcraftc commented on #211
[Uploading demo.zip…]()
This demo application presents the issue where we receive the Invalid Token notification.

If we change the pom.xml to the following rolled back versions, then it will work.
[working.pom.xml.txt](https://github.com/okta/okta-spring-boot/files/5494967/working.pom.xml.txt)

NOTE: Masked the Issuer and ClientId in application.properties

To test, I ran the endpoint http://loca

[2020-11-05 15:44] bdemers commented on #211
@adamcraftc very helpful!  I should have noticed this when you first posted your pom files (sorry about that)

You have both the new and old Spring Security OAuth libraries on your classpath and that is causing the problem.  The new version is a rewrite and many things have changed, annotations, packages etc.

I put your demo project in a repo, and I added a commit that fixes the problem (hopefull

[2020-11-05 17:04] adamcraftc commented on #211
@bdemers Thank you for your support! That was our issue and we have been able to use this to resolve our issue.

[2020-11-05 17:04] #211 closed

[2020-11-05 19:10] bdemers commented on #211
Thanks for following up @adamcraftc !

[2020-11-12 18:36] snicoll commented on #205
This should probably move to the [start.spring.io issue tracker](https://github.com/spring-io/start.spring.io/issues) with a code sample of what's required and we can take it from there.

[2020-11-12 19:02] arvindkrishnakumar-okta commented on #205
@snicoll Thanks for the suggestion. That sounds reasonable.

[2020-11-12 19:41] arvindkrishnakumar-okta commented on #205
Closing in favor of https://github.com/spring-io/start.spring.io/issues/568.

[2020-11-12 19:41] #205 closed

[2020-11-16 16:04] hanswesterbeek commented on #171
I'm also hitting the issue mentioned in the OP.

Do I understand correctly that the `okta-spring-boot-starter` really only works with okta developer-envs and not with regular okta production/preview environments because it garbles the various urls published at `/.well-known/openid-configuration`?

Or is there some simple remedy I am missing? Because I also got my client to work just fine with my

[2020-11-16 17:38] Stillglade commented on #171
It should work for any environment, just make sure you are using an Authorization Server within Okta and not just the root issuer uris.  In other words, the issuer uri you are using should look like: https://<organization>.<okta || oktapreview>.com/oauth2/<some-generated-auth-server-id>

[2020-11-16 17:40] arvindkrishnakumar-okta commented on #171
@hanswesterbeek Thanks for posting!

What does your issuer/org URI look like?

[2020-11-16 17:48] arvindkrishnakumar-okta commented on #203
@car51901 do you have any follow-up questions for us on this? If not, can we close this?

[2020-11-17 08:08] hanswesterbeek commented on #171
The issuer is the issuer that exists by default, eg. `https://{myorg}.oktapreview.com` or `https://{myorg}.okta.com`.

Shouldn't that be the one I use?

[2020-11-17 14:45] Stillglade commented on #171
If you have a default Authorization Server, the URI would be `https://{myorg}.okta.com/oauth2/default` as opposed to the root URI that you reference.  The root org issuer which you reference will not work for now with this library.  You can get it to work using introspection (not with jwks) but you would need to directly configure Spring Security for that.

[2020-11-19 07:49] hanswesterbeek commented on #171
I ended up not using this lib and setting all the spring-security props (such as `spring.security.oauth2.client.provider.okta.issuer-uri`) myself.

I think this lib should work out-of-the-box for the production root issuers.

[2020-11-19 20:06] bdemers commented on #171
@hanswesterbeek agreed! We are working on it ;)

[2020-11-20 20:17] #203 closed

[2020-11-23 14:59] stephanabel opened #218 "Groups no longer converted to Authorities with Version 1.5.0"
Hi there,

previous to version 1.5.0 (we had 1.4.0) the group claims where automatically converted to `org.springframework.security.core.GrantedAuthority`'s.

This functionality seems to be provided by `com.okta.spring.boot.oauth.OktaJwtAuthenticationConverter`, which is used in version 1.4.0. In the latest version the class is still there but seemingly no longer used (instead `org.springframework

[2020-11-23 16:19] arvindkrishnakumar-okta commented on #218
@stephanabel Thanks for posting!

With v1.5.0 we upgraded to Springboot v2.4.0. This recent Spring upgrade (Spring Security v5.4.0) allows you to define the `JwtAuthenticationConverter` as a `@bean` configuration (See section named `OAuth 2.0 Resource Server` at https://docs.spring.io/spring-security/site/docs/5.4.0/reference/html5/#new).  So, you no longer need to supply the jwt converter explici

[2020-11-23 19:18] bdemers commented on #218
Hey @stephanabel!

I'd like to try to reproduce this, do you have any other configuration/beans set?

[2020-11-23 19:33] bdemers commented on #218
Also, which version of Spring Boot are you using? Make sure you are using `2.4+`

[2020-11-24 09:26] stephanabel commented on #218
Hey @bdemers & @arvindkrishnakumar-okta, thanks for your reply!

So i assume this bean definition in `com.okta.spring.boot.oauth.OktaOAuth2AutoConfig`:
[code]
should now be used by default trough the starter.
Unfortunately this is not the case for me.

I saw that @bdemers provided a okta-spring-boot-migration-demo (https://github.com/bdemers/okta-spring-boot-migration-demo) project for another iss

[2020-11-24 11:05] stephanabel commented on #218
Hi there,

i have figured out why the bean was never present in my configuration. Ich checked the condition evaluation for `com.okta.spring.boot.oauth.OktaOAuth2AutoConfig` and found one unmatched condition:

[code]

If I provide a dummy property for the missing property (`spring.security.oauth2.client.registration.okta.client-id="test"`) the Config is loaded, the bean is present and the groups ar

[2020-11-24 15:03] bdemers commented on #218
@stephanabel Great find/debugging, and the suggested workaround is good too.
I think I have a fix, and I'll push a PR in a few minutes

[2020-11-24 15:20] bdemers commented on #218
@stephanabel your debugging made this super easy to find/fix, see #220 if interested

Thanks again!

[2020-11-24 17:50] arvindkrishnakumar-okta commented on #218
Thanks @stephanabel & @bdemers. I've merged #220. Will release a patch version 1.5.1 shortly.

[2020-11-24 19:10] arvindkrishnakumar-okta commented on #218
Released `1.5.1` with this fix.

[2020-11-24 19:10] #218 closed

[2020-11-25 07:54] stephanabel commented on #218
Thanks @bdemers & @arvindkrishnakumar-okta for the quick fix!

[2020-12-14 16:22] mraible commented on #192
From https://twitter.com/sdeleuze/status/1338508916171427841:

@RSocketIO, WebSocket and scheduling support. Enjoy!

[2020-12-14 23:43] mraible commented on #192
I tried this again today with the Spring GraalVM Native [v0.8.4 release](https://github.com/spring-projects-experimental/spring-graalvm-native/releases/tag/0.8.4). Here's the steps I used.

Create a new Spring Boot app using [HTTPie](https://httpie.org):

[code]

Then, add a `HelloController`:

[code]

Configure it to talk to Okta using the [Okta CLI](https://cli.okta.com):

[code]

Select Web > O

[2020-12-15 00:05] mraible commented on #192
I tried switching to Spring Security's dependencies and configuration as a workaround:

[code]

Change `application.properties` to use Spring Security's key:

[code]

Then, I tried:

[code]

It worked! Next, let's see if it works:

[code]

Nope!

[code]

I updated my `pom.xml`:

[code]

Now it builds and runs! 💥

I tested it and it *almost* works.

[code]

This results in a 500:

[code]

In the Do

[2020-12-15 00:11] mraible commented on #192
Hmmm, the `NullPointerException` happens even when I run `mvn spring-boot:run`.

@bdemers Any idea why `@AuthenticationPrincipal Principal principal` isn't resolving?

[2020-12-15 03:12] mraible commented on #192
Changing my `HelloController` to the following fixed the NPE when running with `mvn spring-boot:run`:

[code]

After I got that fixed, I re-built the image:

[code]

Ran it in Docker:

[code]

Then, in another terminal window:

[code]

It works! 🎉

[2020-12-15 03:19] mraible commented on #192
Next, I tried changing `@SpringBootApplication(proxyBeanMethods = false)` to `@SpringBootApplication`.

It built a few seconds faster: `04:07 min`.

And it works, too! 💥

[2020-12-15 08:19] sdeleuze commented on #192
Good news 👍🏼 For the error you see with Okta, I think you need to refactor `OktaOAuth2AutoConfig` to use `@Configuration(proxyBeanMethods = false)` (at library level in order to keep JVM compatibility and enable native support at the same time) and avoid using cross `@Bean` invocations as documented [here](https://repo.spring.io/milestone/org/springframework/experimental/spring-graalvm-native-docs

[2020-12-15 17:16] christiangoudreau commented on #176
It is now version 3.0.1... When can we hope to have the latest version?

Thanks

[2020-12-22 06:18] #176 closed

[2020-12-22 06:18] #175 closed

[2020-12-28 21:19] arvindkrishnakumar-okta commented on #104
The recent okta-spring-boot release v2.0.0 supports Opaque Token for Servlet applications.

Closing this issue, feel free to report a new issue if you have any questions/issues on this topic.

[2020-12-28 21:19] #104 closed

[2020-12-28 21:40] arvindkrishnakumar-okta commented on #35
@bdemers: We just added Opaque Token validation support in v2.0.0 and with this release, if Okta Org Issuer is set, we will attempt remote validation automatically. So this issue is no longer relevant and can be closed.

[2020-12-28 21:41] arvindkrishnakumar-okta commented on #116
@satishrao84 did the above suggestion help?

[2020-12-29 15:06] arvindkrishnakumar-okta commented on #171
The latest release `v2.0.0` addresses this. Feel free to reopen the issue if there are any followups.

[2020-12-29 15:06] #171 closed

[2020-12-29 15:21] arvindkrishnakumar-okta commented on #36
@bdemers With SDK `v2.0.0+` this should no longer be an issue. If the issuer does not contain `/oauth2/*`, we consider this as a root org issuer case and do the Opaque token flow.  This issue can therefore be closed.

[2020-12-29 15:24] arvindkrishnakumar-okta commented on #56
@bdemers This issue does not seem to be relevant anymore?

[2020-12-29 15:39] arvindkrishnakumar-okta commented on #57
Internal Ref: OKTA-356200

[2020-12-30 18:34] arvindkrishnakumar-okta commented on #142
Internal Ref: OKTA-356403

[2020-12-30 18:41] arvindkrishnakumar-okta commented on #151
Internal Ref: OKTA-356408

[2021-01-05 17:33] bdemers commented on #36
I think this issue was related to a mapping between the `okta.client.orgUrl` property and the `okta.oauth2.issuer` property that we did before the 1.0 release.  IIRC we no longer do that mapping and this issue could be closed

[2021-01-05 17:34] #36 closed

[2021-01-05 17:40] bdemers commented on #56
Agreed

[2021-01-05 17:40] #56 closed

[2021-01-11 19:18] arvindkrishnakumar-okta commented on #151
@gagan-shah To aid with this further, can you share more details on the below:

1. Which version of Okta Springboot starter SDK are you seeing this error on?
2. Can you confirm if you are using it in resource server mode (my guess is yes, but please confirm)? If its a resource server, there is no login/logout event (such events can happen only for oauth code flow).

Please help me understand your

[2021-01-12 20:10] VitaliiTytarenko-okta commented on #57
**`http.proxyHost`** and **`http.proxyPort`** are standard properties for configuring proxy settings for URLConnection from _`java.net`_ package. User can define these parameters as system properties or command line arguments, if he wants to work with HTTP on core Java. And looks it like this (all these classes from _`java.net`_):
[code]
it's the same as:
[code]
This has nothing to do with the Okt

[2021-01-14 02:02] venugeesala opened #242 "Open id configuration for offline"
Hi,

Is there a way our SPringboot webapp can start without connecting to https://dev-xxxxxx.okta.com/.well-known/openid-configuration. Our server will be running without internet access inside our network. If we enable internet to the server and start the server and then we can turn off the internet and it works fine. Below is my properties file that I am trying to use for offline.

**spring.secu

[2021-01-14 07:38] arvindkrishnakumar-okta commented on #242
This behavior is implemented by Spring Security and is used for OAuth2 client registration at server startup (See https://docs.spring.io/spring-security/site/docs/5.1.4.RELEASE/reference/htmlsingle/#startup-expectations-2). Okta's Org Authorization Servers support OIDC discovery via `https://dev-xxxxxx.okta.com/.well-known/openid-configuration` endpoint and Spring relies on this metadata to do JWT

[2021-01-14 15:43] bdemers commented on #242
@venugeesala can you explain your use case a bit more? In order to validate tokens, a connection back to Okta is required.  Even when doing only validating access tokens (JWT) locally you still need to periodically get a new set of public keys from a remote URL.

One suggestion I've seen is to limit traffic to specific IPs: https://support.okta.com/help/s/article/What-IP-addresses-ranges-should-we

[2021-01-21 09:37] kushan2 commented on #134
if its a 'kid' not matching issue, "kid" in JWT token header(metadata) section, should match with "https://myorg.okta.com/oauth2/v1/keys" on of the "kid" to navigate the correct key.

[2021-01-21 22:58] niranjan-prusty opened #245 "Okta Spring boot is getting port appended if application is running under firewall"
Hi,
I have a strange issue. I am not able to solve.
1. I have a Spring boot application running on Azure App Service. I used Okta Spring Starter - https://github.com/okta/okta-spring-boot. Application url is https://web.dev.mypepsico.com
2. Azure App Service is under ILB ASE. This is private VNet.
3. When traffic comes from internet (without VPN and PepsiCo Office network), goes through Pal Alto f

[2021-01-22 00:38] arvindkrishnakumar-okta commented on #245
@niranjan-prusty Are there any recent firewall rule/VPN changes in your organization in the context of this issue?

[2021-01-22 01:45] niranjan-prusty commented on #245
Thanks for your response. No, there is no change in firewall. If I change
the application to saml, it works fine.

On Thu, Jan 21, 2021, 6:38 PM Arvind Krishnakumar <notifications@github.com>
wrote:

[2021-01-22 02:10] arvindkrishnakumar-okta commented on #245
@niranjan-prusty You noted that it stopped working after adding Okta Spring code. Can you share more details on what exactly was added? What version of Okta spring boot are you using?

[2021-01-22 02:58] niranjan-prusty commented on #245
@arvindkrishnakumar-okta   The below Okta Spring boot version added

		<dependency>
			<groupId>com.okta.spring</groupId>
			<artifactId>okta-spring-boot-starter</artifactId>
			<version>1.4.0</version>
		</dependency>
		<dependency>
			<groupId>org.springframework.security</groupId>
			<artifactId>spring-security-oauth2-client</artifactId>
		</dependency>
		<dependency>
			<groupId>org.springfram

[2021-01-22 15:43] niranjan-prusty commented on #245
There is Okta support ticket # 01027511as well. I had live session with semona.igama@okta.com yesterday. I sent her .har files.

[2021-01-25 17:00] arvindkrishnakumar-okta commented on #245
Closing this in favor of the customer support ticket 01027511. Feel free to reopen if needed.

[2021-01-25 17:00] #245 closed

[2021-02-04 16:28] VitaliiTytarenko-okta commented on #57
Close this issue since the necessary changes were made in #233

[2021-02-04 16:29] #57 closed

[2021-02-08 14:47] bdemers opened #246 "Ensure standard Spring Security OAuth properties work with the Okta Spring Boot Starter"
The `okta.oauth2.*` properties are just aliases to the equivalent `spring.security.oauth` properties.

(with the minor exception of a few okta specific properties like `okta.oauth2.groups-claim`)

We need to ensure these standard propties work, @mkheck reported this is no longer the case as of Okta Spring Boot Starter v2.0.0

[code]

Using the properties similar to:

[code]

The easiest thing to d

[2021-02-08 15:18] sergiishamrai-okta commented on #246
Internal ref: [OKTA-368356](https://oktainc.atlassian.net/browse/OKTA-368356)

[2021-02-09 08:19] chenjiangtao commented on #89
it's  work to me, thx ~~

[2021-02-11 22:03] arvindkrishnakumar-okta commented on #142
Fixed.

[2021-02-11 22:03] #142 closed

[2021-03-09 11:13] smworld30 opened #255 "Facing issue on springboot okta in weblogic server"
For spring-boot 2.4.2 with okta-spring-boot-starter 2.0.0 ,not able to deploy the application in weblogic where as tomcat/jboss deployment is fine.
In weblogic facing below issue. Request help on this

I have raised one case in the below repository.

https://github.com/okta/samples-java-spring/issues/88

They suggested me to contact support@okta.com . Is this place is same?

Caused By: java.lang.I

[2021-03-09 12:19] sergiishamrai-okta commented on #255
This issue is duplicating [samples-java-spring/88](https://github.com/okta/samples-java-spring/issues/88). Please reach out to customer support at support@okta.com for further assistance on this case. In case you have a related bug report, please keep it posted in the origin issue thread.

[2021-03-09 13:55] VitaliiTytarenko-okta commented on #246
I've tried different scenarios with `spring.security.oauth2` properties. And I must say that unfortunately, our application does not work without `okta.oauth2.*`. In this case, the OktaOAuth2Properties bean is empty and an exception is raised during validation and context loading. The appropriate corrections must be made to support `spring.security.oauth2` properties. I can create a ticket and add

[2021-03-09 15:08] bdemers commented on #246
Do you have a PR with the integration tests for this?  What does the exception look like?

[2021-03-09 15:22] VitaliiTytarenko-okta commented on #246
I haven't created PR for it. The easiest way to verify this (as you mentioned before) is to run existing integration tests with modified properties.
For example: I run the [ResourceServerJwtValidationIT](https://github.com/okta/okta-spring-boot/blob/master/integration-tests/oauth2/src/test/groovy/com/okta/spring/tests/oauth2/jwt/ResourceServerJwtValidationIT.groovy) with properties:
[code]
and rec

[2021-03-09 15:34] bdemers commented on #246
I mentioned this at some point along the way, but the root problem here is that the `issuer` and other config are pulled from the `OktaOAuth2Properties` bean instead of the Spring equivalent like it should, this was likely changed recently when added support for opaque tokens. (just a guess, given we didn't have test coverage for this use case).

I think the first step is to create a branch to ena

[2021-03-11 01:09] srajiang opened #258 "NoSuchBeanDefinitionException: No qualifying bean of type 'org.springframework.security.config.annotation.web.builders.HttpSecurity' available"
👋 Hello, I was directed to submit this as an issue after troubleshooting with Lijia on the Dev Support team. I am hoping this is an environment / configuration issue on my end (I am new to Java / Spring) and not a bug, so I've provided details below on what I have set up as well for context.

### I'm submitting a
  - [x] bug report
  - [ ] feature request

### Background info
I am writing an API a

[2021-03-11 01:15] srajiang commented on #258
And here's the full stack trace:

[code]

[2021-03-11 01:52] arvindkrishnakumar-okta commented on #258
Thanks for the question!

- Are you behind a firewall/proxy?
- Are you able to hit the endpoint `https://slackcorp.okta.com/oauth2/default/.well-known/openid-configuration` from a browser?

[2021-03-11 02:01] srajiang commented on #258
@arvindkrishnakumar-okta

* Firewall/proxy: No I don't believe I am.
* Endpoint: No, I get an error message saying I'm not authorized to access:

[2021-03-11 02:07] #116 closed

[2021-03-11 02:17] arvindkrishnakumar-okta commented on #258
Since you're trying with a corporate production org, you will need to get API Access Manager as a Product.

Try out your code with the developer account org and it should work. See signup instructions at developer.okta.com

[2021-03-11 16:44] arvindkrishnakumar-okta commented on #258
Accessing `https://slackcorp.okta.com/oauth2/default/.well-known/oauth-authorization-server` suggests that the `default` issuer does not exist for your corporate org. Try decoding your access token JWT using https://token.dev/ and see what the `issuer` is set to and you should be using that issuer.

[2021-03-11 17:07] srajiang commented on #258
@arvindkrishnakumar-okta - Okay, I checked the token and the `iss` claim value in the token is set to `slackcorp.okta.com`. I'm reading on this issue [here](https://github.com/okta/okta-spring-boot/issues/132) @bdemers mentioned that the token might be the root Okta issuer and not able to be validated

And should be in this format:

Is that still the case?

[2021-03-11 17:11] arvindkrishnakumar-okta commented on #258
Yes, hope that helps.

[2021-03-11 17:19] srajiang commented on #258
@arvindkrishnakumar-okta - So if it's trying to validate the token remotely, is it still reasonable to expect to be able to use this issuer or should I be trying to setup that custom authorization server? I'm unclear on whether using `slackcorp.okta.com` here is valid?

The original issue I raised was about another error that occurred during runtime, related to a missing bean. in that case I had t

[2021-03-11 17:31] arvindkrishnakumar-okta commented on #258
I'd recommend reading https://developer.okta.com/docs/concepts/auth-servers/#which-authorization-server-should-you-use

[2021-03-11 18:09] srajiang commented on #258
@arvindkrishnakumar-okta Read the documentation, can you confirm:

Every Okta org comes with a built-in authorization server called the Org Authorization Server. The base URL for the Org Authorization Server is https://${yourOktaOrg}.

This means that even with `okta-spring-boot-starter` I cannot validate the token I have? I seems to suggest that Okta can validate the issuer? I'm try to request th

[2021-03-11 18:56] arvindkrishnakumar-okta commented on #258
Yes, thats accurate.

[2021-03-11 20:56] bdemers commented on #258
Hi @srajiang!

You should be able to validate the access token as an "opaque" token instead of a JWT.  However, as @arvindkrishnakumar-okta mentioned _usually_ for API use cases where you want to validate the token locally (i.e. a JWT) you would want to use a different Authorization Server that is setup for this.

You can configure Spring Security to use opaque tokens by doing something like:

[co

[2021-03-12 01:31] srajiang commented on #258
@bdemers Thanks for chiming in! I'll answer the stepping back question first, since it seems like we might be able to avoid using opaque tokens. Might be overdoing it on the detail here, but I thought I'd include everything just in case:

I have a totally separate application frontend (React / nodejs) that has the _@okta-auth-js_ and _@okta-react_ modules installed. I use the `useOktaAuth` hook fr

[2021-03-12 01:41] srajiang commented on #258
@bdemers Keeping all other things about my Spring environment setup constant (i.e. issuer as `slackcorp.okta.com`), I tried just changing the token type from `.jwt()` to `.opaqueToken()` inside the `WebSecurityConfigurerAdapter`, and got the following errors

[code]

[2021-03-19 15:18] smworld30 opened #260 "After okta login application redirection is not happening in springboot app deployed in weblogic server"
[stdout.log](https://github.com/okta/okta-spring-boot/files/6172227/stdout.log)

We have a springboot okta app deployed in weblogic 12c server.
When we hit the application link its redirecting to okta. After okta authentication its not redirecting back to application
giving below error . Detail error is attached.
Application URL : https://drswls1.corp.pep.pvt:54028/LoginPIWeb

Redirect URI in OKta

[2021-03-19 15:25] arvindkrishnakumar-okta commented on #260
Which version of `nimbus-jose-jwt` is on your weblogic classpath?

[2021-03-19 15:25] sergiishamrai-okta commented on #260
Thank you @smworld30 for your question.
Can you provide more details about your server configuration?
For me, it looks like some beans were not loaded properly by weblogic server.

[2021-03-19 15:33] smworld30 commented on #260
what type of configuration details you required? can you please classify? Do you want the source code to check? When I hit the application url  it is hitting okta. after giving the okta credentials it is redirecting this url not the actual application url

http://drswls1.corp.pep.pvt:54028/LoginPIWeb/login/oauth2/code/okta?code=QrEaRLkl5FWSyWNGfuU_HoTyVXAOGkUAiaGI36FKP_s&state=FDLup7oqwVZbh80gh182

[2021-03-19 15:41] bdemers commented on #260
This looks like a dependency version mismatch.

If you are using Maven you can run `mvn dependency:tree` or if you are using Gradle use, it should be something like `gradle dependencies`

You can remove any of your company deps from this list before attaching the result here.

[2021-03-19 15:55] smworld30 commented on #260
[dependency tree.txt](https://github.com/okta/okta-spring-boot/files/6172524/dependency.tree.txt)

Thanks for your reply. PFA

[2021-03-19 16:32] bdemers commented on #260
The deps look fine at a quick glance. It looks like that missing constructor in`nimbus-jose-jwt` was added in version 8+
`com.nimbusds.jose.proc.JWSVerificationKeySelector.<init>(Ljava/util/Set;Lcom/nimbusds/jose/jwk/source/JWKSource;)`

From your dependency list, it looks like you _should_ have it, but... since you are deploying in a container (Weblogic). You may need to check your classpath to s

[2021-03-19 16:52] arvindkrishnakumar-okta commented on #258
@srajiang you're missing to set the client secret above. You need the client secret to be able to validate opaque token.

[2021-03-20 09:40] smworld30 commented on #260
Thanks for your suggestion. I will check the version in weblogic and get back to you.

[2021-03-23 06:37] smworld30 commented on #260
yes thats weblogic classpath is updated. Thanks a lot for your suggestion.

[2021-03-23 13:17] #260 closed

[2021-03-23 13:23] arvindkrishnakumar-okta commented on #258
Closing this, feel free to reopen in case there are followup questions.

[2021-03-23 13:23] #258 closed

[2021-03-30 19:18] emanor-okta opened #273 "When using an Org Authorization Server the Endpoint URLs are Incorrect"
:information_source: **If you have a question**, please post it on the [Okta Developer Forum](https://devforum.okta.com) instead. Issues in this repository are reserved for bug reports and feature requests only.

### I'm submitting a
  - [X] bug report
  - [ ] feature request

### Background info

When using an Org Authorization Server as opposed to a custom Authorization Server the Endpoint URLs

[2021-03-31 17:09] VitaliiTytarenko-okta commented on #273
@emanor-okta
The authorization URI is obtained by adding `/v1/authorize` to your **_okta.oauth2.issuer_**.
I'm afraid, but `https://{DOMAIN}.okta.com` is not the correct format for the **_okta.oauth2.issuer_** property.
According to the [documentation](https://github.com/okta/okta-spring-boot/blob/0eecfa7fa71544fd3a19c88c87542a6d1390ced4/README.md#configure-your-properties), the issuer should look

[2021-03-31 17:12] arvindkrishnakumar-okta commented on #273
@VitaliiTytarenko-okta  `https://{yourOktaDomain}.okta.com` is a valid Issuer URL (See https://developer.okta.com/docs/concepts/auth-servers/#org-authorization-server).

[2021-04-01 19:53] arvindkrishnakumar-okta commented on #273
Fix merged to master, will be published in next release.

[2021-04-01 19:53] #273 closed

[2021-05-03 21:12] mraible opened #280 "Add support for Spring Boot 2.5"
### I'm submitting a
  - [ ] bug report
  - [x] feature request

### Background info

If I try to create a Spring Boot app on [start.spring.io](https://start.spring.io), it says I can't use Okta.

<img width="1280" alt="Screen Shot 2021-05-03 at 3 07 16 PM" src="https://user-images.githubusercontent.com/17892/116934156-d0af9c00-ac21-11eb-815a-bf279491795f.png">

However, if I download Spring Boot

[2021-05-04 18:58] aarongranick-okta commented on #280
Thanks for the report, @mraible. Looks like @bdemers is working on a PR to resolve this.

[2021-05-05 19:24] #246 closed

[2021-05-17 09:27] bml-axon commented on #273
Will this fix only go to the 2.x release branch?  We use Okta Spring Boot Starter 1.4.0 as we have Spring Boot 2.2 and we get the same problem with the URL being incorrect when using the Org Authorization Server.  I currently use a work-around by overriding the URLs in `security.oauth2.client.provider.okta.<*-uri>`.

[2021-05-17 12:40] VitaliiTytarenko-okta commented on #273
I would recommend you upgrade.
It is very unlikely that we will make changes to an older version.
But let me see, maybe we can find a solution for you...

[2021-05-17 14:23] bml-axon commented on #273
Thanks for the response Vitalii.  We're in the progress of upgrading but it takes time because of technical considerations.  We do have a work-around currently by overriding the correct URL in our Spring Security OAuth2 properties

[2021-05-21 14:05] mraible commented on #192
@arvindkrishnakumar-okta Any updates on this? I'd love for it to be possible to build native images for Spring Boot apps that use our starter.

[2021-05-26 15:30] nashley commented on #53
With [the spring-boot `2.2` update](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.2-Release-Notes#deprecations-in-spring-boot-22), `server.forward-headers-strategy` now needs to be specified instead of `server.use-forward-headers`. To get the same behavior as `server.use-forward-headers=true` from before, use `server.forward-headers-strategy=native`.